
        
* .nexainput.nexaleftalign
{
  text-align:left;
}
.nexainput.nexartl.nexaleftalign
{
  text-align:right;
}
* .nexainput.nexarightalign
{
  text-align:right;
}
.nexainput.nexartl.nexarightalign
{
  text-align:left;
}
* .nexainput.nexacenteralign
{
  text-align:center;
}
* .nexacontentsbox.nexaleftalign
{
  text-align:left;
}
.nexacontentsbox.nexartl.nexaleftalign
{
  text-align:right;
}
* .nexacontentsbox.nexarightalign
{
  text-align:right;
}
.nexacontentsbox.nexartl.nexarightalign
{
  text-align:left;
}
* .nexacontentsbox.nexacenteralign
{
  text-align:center;
}
* .celltreeline
{
  border : 1px dotted #999999;
}
* .Edit, * .MaskEdit, * .TextArea, * .EditControl, * .MaskEditControl, * .TextAreaControl
{
  cursor:text;
}
* .Button .nexacontentsbox, * .ButtonControl .nexacontentsbox
{
  text-align:center;
}

* .FileDownload  .nexacontentsbox, * .FileDownloadControl .nexacontentsbox
{
  text-align:center;
}

* .IconTextControl .nexacontentsbox, * .IconControl .nexacontentsbox
{
  text-align:center;
}

* .DatePickerDayItemControl .nexacontentsbox, * .DatePickerWeekItemControl .nexacontentsbox, * .TitleBarButtonControl .nexacontentsbox
{
  text-align:center;
}

* .Sketch .nexacontentsbox
{
  text-align:center;
}

* .MainFrame, * .VScrollBarControl, * .HScrollBarControl
{
  cursor:default;
}
.nexainput
{
  cursor:inherit;
}

* .Form
{
	font : 12px Gulim;
	color : #555555;
	background : #ffffff;
	border : 0px none;
}
* .Button
{
	background : linear-gradient(to top,#eaeaea,#ffffff);
	border : 1px solid #c2c2c2;
}
* .FileDownload
{
	background : linear-gradient(to top,#eaeaea,#ffffff);
	border : 1px solid #c2c2c2;
}
* .ButtonControl
{
	background : transparent;
	border : 0px none;
}
* .FileUpload .fileuploaditem .fileuploaditembutton
{
	background : linear-gradient(to top,#eaeaea,#ffffff);
	border : 1px solid #c2c2c2;
}
* .Calendar
{
	background : #ffffff;
	border : 1px solid #d5d5d5;
}
* .CalendarControl
{
	background : #ffffff;
	border : 1px solid #d5d5d5;
}
* .Combo
{
	background : #ffffff;
	border : 1px solid #d5d5d5;
}
* .ComboControl
{
	background : #ffffff;
	border : 1px solid #d5d5d5;
}
* .ListBoxControl.popupCombocombolist.dummy
{
	font : 12px Gulim;
	color : #555555;
	background : #ffffff;
	border : 1px solid #b1b1b1;
}
* .ListBoxControl.popupComboControlcombolist.dummy
{
	font : 12px Gulim;
	color : #555555;
	background : #ffffff;
	border : 1px solid #b1b1b1;
}
* .Edit
{
	background : #ffffff;
	border : 1px solid #d5d5d5;
	padding : 1px 9px 0px 9px;
}
* .FileUpload .fileuploaditem .fileuploaditemedit
{
	background : #ffffff;
	border : 1px solid #d5d5d5;
	padding : 1px 9px 0px 9px;
}
* .EditControl
{
	background : transparent;
	border : 0px none;
	padding : 1px 9px 0px 9px;
}
* .Grid
{
	background : #ffffff;
	border : 2px solid #125dae, 1px solid #b7b1b2, 1px solid #b7b1b2, 1px solid #b7b1b2;
}
.Grid.nexartl
{
	border : 2px solid #125dae,1px solid #b7b1b2,1px solid #b7b1b2,1px solid #b7b1b2;
}
* .Grid .head .row .cell
{
	font : bold 12px Gulim;
	color : #2f2f2f;
	background : linear-gradient(to top, #eff0f0, #f9fafa);
	border : 1px solid #cacaca;
}
* .Grid .head .row .cell .nexacontentsbox
{
	text-align : center;
}
* .Grid .body .row .cell
{
	color : #666666;
	border : 1px solid #dbdee2;
}
* .Grid .body .row .cell .subcell
{
	color : #666666;
	border : 1px solid #dbdee2;
}
* .Grid .body .selection
{
	border : 2px solid #125dae;
}
* .Grid .summary
{
	border : 1px solid #c8c1c2, 0px none, 0px none, 0px none;
}
.Grid.nexartl .summary
{
	border : 1px solid #c8c1c2,0px none,0px none,0px none;
}
* .Grid .summary .row .cell
{
	font : bold 12px Gulim;
	color : #333333;
	background : #fdfbe5;
	border : 1px solid #c8c1c2;
}
* .Grid .summary .row .cell .nexacontentsbox
{
	text-align : center;
}
* .Grid .hscrollbar
{
	border : 1px solid #b1b1b1, 0px none, 0px none, 0px none;
}
.Grid.nexartl .hscrollbar
{
	border : 1px solid #b1b1b1,0px none,0px none,0px none;
}
* .Grid .vscrollbar
{
	border : 0px none, 0px none, 0px none, 1px solid #b1b1b1;
}
.Grid.nexartl .vscrollbar
{
	border : 0px none,1px solid #b1b1b1,0px none,0px none;
}
* .GridCellControl .cellbutton
{
	font : 12px/normal "Malgun Gothic";
	color : #555555;
	background : linear-gradient(to top,#eaeaea,#ffffff);
	border : 1px solid #c2c2c2;
}
* .GridCellControl .cellcalendar
{
	font : 12px Gulim;
}
* .GridCellControl .cellcheckbox
{
	font : 12px Gulim;
}
* .GridCellControl .cellcombo
{
	font : 12px Gulim;
}
* .ListBoxControl.popupGridCellControlcellcombocombolist.dummy.dummy
{
	font : 12px Gulim;
	color : #555555;
}
* .GridCellControl .celledit
{
	font : 12px Gulim;
	background : #ffffff;
	border : 1px solid #d5d5d5;
	padding : 1px 9px 0px 9px;
}
* .GridCellControl .cellmaskedit
{
	font : 12px Gulim;
	background : #ffffff;
	border : 1px solid #d5d5d5;
	padding : 1px 9px 0px 9px;
}
* .GridCellControl .cellprogressbar
{
	font : 12px Gulim;
}
* .GridCellControl .celltextarea
{
	font : 12px Gulim;
}
* .GridCellControl .celltreeitem .treeitemtext
{
	color : #3d3d3d;
	font : 12px "Malgun Gothic";
}
* .GridCellControl .celltreeline
{
	border : 1px dotted #909090;
}
* .GroupBox .groupboxcontents
{
	background : #ffffff;
	border : 1px solid #d6d4d5;
}
* .GroupBox .groupboxtitle
{
	background : #ffffff;
}
* .ImageViewer
{
	background : #ffffff;
	border : 1px solid #d5d5d5;
}
* .ImageViewer .imagetext .nexacontentsbox
{
	text-align : center;
}
* .ListBox
{
	background : #ffffff;
	border : 1px solid #d5d5d5;
}
* .ListBoxControl
{
	background : #ffffff;
	border : 1px solid #d5d5d5;
}
* .ListBox .listboxitem
{
	color : #555555;
}
* .ListBoxControl .listboxitem
{
	color : #555555;
}
* .MaskEdit
{
	background : #ffffff;
	border : 1px solid #d5d5d5;
	padding : 1px 9px 0px 9px;
}
* .MaskEditControl
{
	background : transparent;
	border : 0px none;
	padding : 1px 9px 0px 9px;
}
* .Menu
{
	font : 14px/normal "Malgun Gothic";
}
* .Menu .prevbutton
{
	cursor : pointer;
}
* .Menu .nextbutton
{
	cursor : pointer;
}
* .Menu .menuitem
{
	font : 14px/normal "Malgun Gothic";
	color : #ffffff;
	cursor : pointer;
}
* .PopupMenuControl.popupMenumenupopupmenu.dummy
{
	font : 12px Gulim;
	color : #555555;
	background : #0753a5;
	border : 1px solid #034389;
}
* .PopupMenuControl.popupMenumenupopupmenu.dummy .prevbutton
{
	cursor : pointer;
}
* .PopupMenuControl.popupMenumenupopupmenu.dummy .nextbutton
{
	cursor : pointer;
}
* .PopupMenuControl.popupMenumenupopupmenu.dummy .popupmenuitem
{
	color : #c3e0ff;
	border : 0px none, 0px none, 1px solid #2065ae, 0px none;
}
.Menu.nexartl .menupopupmenu .popupmenuitem
{
	border : 0px none,0px none,1px solid #2065ae,0px none;
}
* .PopupMenuControl.popupMenumenupopupmenu.dummy .popupmenuitem .popupmenuitemtext
{
	color : #c3e0ff;
}
* .PopupMenuControl.popupMenumenupopupmenu.dummy .popupmenuitem .popupmenuitemhotkeytext
{
	color : #6d95cc;
}
* .PopupMenuControl.popupMenumenupopupmenu.dummy .popupmenuitem .popupmenuitemhotkeytext .nexacontentsbox
{
	text-align : right;
}
.Menu.nexartl .menupopupmenu .popupmenuitem .popupmenuitemhotkeytext .nexacontentsbox
{
	text-align : left;
}
* .Plugin
{
	border : 1px solid #d5d5d5;
}
* .PluginControl
{
	border : 1px solid #d5d5d5;
}
* .PopupMenu
{
	font : 12px Gulim;
	color : #555555;
	background : #ffffff;
	border : 1px solid #b5b5b5;
}
* .PopupMenuControl
{
	font : 12px Gulim;
	color : #555555;
	background : #ffffff;
	border : 1px solid #b5b5b5;
}
* .PopupMenu .popupmenuitem
{
	color : #555555;
}
* .PopupMenuControl .popupmenuitem
{
	color : #555555;
}
* .PopupMenu .popupmenuitem .popupmenuitemcheckbox
{
	background : URL('./images/chk_WF_Box_F.png') no-repeat left center;
}
.PopupMenu.nexartl .popupmenuitem .popupmenuitemcheckbox
{
	background : url('./images/chk_WF_Box_F.png') no-repeat right center;
}
* .PopupMenuControl .popupmenuitem .popupmenuitemcheckbox
{
	background : URL('./images/chk_WF_Box_F.png') no-repeat left center;
}
.PopupMenuControl.nexartl .popupmenuitem .popupmenuitemcheckbox
{
	background : url('./images/chk_WF_Box_F.png') no-repeat right center;
}
* .PopupMenu .popupmenuitem .popupmenuitemhotkeytext
{
	color : #aaaaaa;
}
* .PopupMenu .popupmenuitem .popupmenuitemhotkeytext .nexacontentsbox
{
	text-align : right;
}
.PopupMenu.nexartl .popupmenuitem .popupmenuitemhotkeytext .nexacontentsbox
{
	text-align : left;
}
* .PopupMenuControl .popupmenuitem .popupmenuitemhotkeytext
{
	color : #aaaaaa;
}
* .PopupMenuControl .popupmenuitem .popupmenuitemhotkeytext .nexacontentsbox
{
	text-align : right;
}
.PopupMenuControl.nexartl .popupmenuitem .popupmenuitemhotkeytext .nexacontentsbox
{
	text-align : left;
}
* .ProgressBar
{
	background : linear-gradient(to top, #f0f0f0, #e7e7e7);
	border : 1px solid #aeaeae, 1px solid #d2d0d1, 1px solid #d2d0d1, 1px solid #d2d0d1;
}
.ProgressBar.nexartl
{
	border : 1px solid #aeaeae,1px solid #d2d0d1,1px solid #d2d0d1,1px solid #d2d0d1;
}
* .ProgressBarControl
{
	background : linear-gradient(to top, #f0f0f0, #e7e7e7);
	border : 1px solid #aeaeae, 1px solid #d2d0d1, 1px solid #d2d0d1, 1px solid #d2d0d1;
}
.ProgressBarControl.nexartl
{
	border : 1px solid #aeaeae,1px solid #d2d0d1,1px solid #d2d0d1,1px solid #d2d0d1;
}
* .ProgressBar .progressbaritem
{
	background : #125dae;
}
* .ProgressBarControl .progressbaritem
{
	background : #125dae;
}
* .ProgressBar .progressbartext
{
	color : #ffffff;
}
* .ProgressBar .progressbartext .nexacontentsbox
{
	text-align : center;
}
* .ProgressBarControl .progressbartext
{
	color : #ffffff;
}
* .ProgressBarControl .progressbartext .nexacontentsbox
{
	text-align : center;
}
* .Radio .radioitem
{
	font : 12px "Malgun Gothic";
	color : #0d6efd;
}
* .Sketch
{
	background : #ffffff;
	border : 1px solid #d5d5d5;
}
* .Spin
{
	background : #ffffff;
	border : 1px solid #d5d5d5;
}
* .Spin .spinedit
{
	padding : 0px 3px 0px 3px;
}
* .Spin .spinedit .nexainput
{
	text-align : right;
}
* .Spin .spinedit .nexacontentsbox
{
	text-align : right;
}
.Spin.nexartl .spinedit .nexainput
{
	text-align : left;
}
.Spin.nexartl .spinedit .nexacontentsbox
{
	text-align : left;
}
* .Static
{
	font : 12px/normal "Malgun Gothic";
}
* .StaticControl
{
	font : 12px/normal "Malgun Gothic";
}
* .TextArea
{
	background : #ffffff;
	border : 1px solid #d5d5d5;
	padding : 9px 9px 9px 9px;
}
* .TextAreaControl
{
	background : #ffffff;
	border : 1px solid #d5d5d5;
	padding : 9px 9px 9px 9px;
}
* .WebBrowser
{
	border : 1px solid #d5d5d5;
}
* .WebBrowserControl
{
	border : 1px solid #d5d5d5;
}
* .Tab .tabpageTab
{
	border : 1px solid #cfcfcf, 0px none, 0px none, 0px none;
}
.Tab.nexartl .tabpage
{
	border : 1px solid #cfcfcf,0px none,0px none,0px none;
}
* .Tab .tabbuttonitemTab
{
	color : #ffffff;
	background : #6c9cff;
	border : 1px solid #c7c7c7;
	font : 12px "Malgun Gothic";
}
* .DatePickerControl
{
	background : #ffffff;
}
* .DatePickerControl .head
{
	background : #125dae;
}
* .DatePickerControl .head .yearstatic
{
	font : bold 14px Tahoma;
	color : #ffffff;
}
* .DatePickerControl .head .monthstatic
{
	font : bold 14px Tahoma;
	color : #ffffff;
}
* .DatePickerControl .head .yearspin .spinedit
{
	font : bold 14px Tahoma;
	color : #ffffff;
	background : #0042a0;
}
* .DatePickerControl .head .monthspin .spinedit
{
	font : bold 14px Tahoma;
	color : #ffffff;
	background : #0042a0;
}
* .DatePickerControl .body
{
	border : 1px solid #125dae, 1px solid #697888, 1px solid #697888, 1px solid #697888;
}
.DatePickerControl.nexartl .body
{
	border : 1px solid #125dae,1px solid #697888,1px solid #697888,1px solid #697888;
}
* .DatePickerControl .body .weekband
{
	background : #125dae;
}
* .DatePickerControl .body .weekitem
{
	color : #ffffff;
}
* .DatePickerControl .body .dayitem
{
	color : #333333;
}
* .VScrollBarControl
{
	border : 1px solid #b1b1b1;
	background : #0d6efd;
}
* .HScrollBarControl
{
	background : linear-gradient(to top,#ffffff,#f7f7f7);
	border : 1px solid #b1b1b1;
}
* .VScrollBarControl .trackbar
{
	background : #0d6efd;
	border : 1px solid #c8c8c8;
}
* .HScrollBarControl .trackbar
{
	background : #0d6efd;
	border : 1px solid #c8c8c8;
}
* .VScrollIndicatorControl
{
	background : #f2f2f2;
}
* .HScrollIndicatorControl
{
	background : #f2f2f2;
}
* .VScrollIndicatorControl .trackbar
{
	background : #cccccc;
	border : 2px solid transparent;
}
* .HScrollIndicatorControl .trackbar
{
	background : #cccccc;
	border : 2px solid transparent;
}
* .StatusBarControl
{
	background : #e7e7e7;
}
* .StatusBarControl .progressbar
{
	background : #eaeaea;
	border : 1px solid #afaeae, 1px solid #d2d0d0, 1px solid #d2d0d0, 1px solid #d2d0d0;
}
.StatusBarControl.nexartl .progressbar
{
	border : 1px solid #afaeae,1px solid #d2d0d0,1px solid #d2d0d0,1px solid #d2d0d0;
}
* .StatusBarControl .progressbar .progressbaritem
{
	background : #4ca0e2;
}
* .StatusBarControl .resizegrip .nexacontentsbox
{
	vertical-align : bottom;
}
* .TitleBarControl
{
	font : bold 12px Gulim;
	color : #ffffff;
	background : #003284;
}
* .ListView
{
	border : 1px solid #d5d5d5;
	background : #ebecee;
	color : #666666;
}
* .ListView .body
{
	border : 0px none, 0px none, 1px solid #dbdee2, 0px none;
	background : #ffffff;
	font : 12px Gulim;
}
.ListView.nexartl .body
{
	border : 0px none,0px none,1px solid #dbdee2,0px none;
}
* .ListView .detail
{
	border : 0px none, 0px none, 1px solid #dbdee2, 0px none;
	background : #f9f9f9;
	font : 12px Gulim;
}
.ListViewBandControl.popupListViewdetail
{
	border : 0px none, 0px none, 1px solid #dbdee2, 0px none;
	background : #f9f9f9;
	font : 12px Gulim;
}
.ListView.nexartl .detail
{
	border : 0px none,0px none,1px solid #dbdee2,0px none;
}
* .ListView .body .cell
{
	border : 1px solid #dbdee2;
}
* .ListView .detail .cell
{
	border : 1px solid #dbdee2;
}
.ListViewBandControl.popupListViewdetail .cell
{
	border : 1px solid #dbdee2;
}
* .ListViewCellControl .cellbutton
{
	font : 12px Gulim;
	color : #555555;
	background : linear-gradient(to top,#eaeaea,#ffffff);
	border : 1px solid #c2c2c2;
}
* .ListViewCellControl .cellcalendar
{
	font : 12px Gulim;
}
* .ListViewCellControl .cellcheckbox
{
	font : 12px Gulim;
}
* .ListViewCellControl .cellcombo
{
	font : 12px Gulim;
}
* .ListBoxControl.popupListViewCellControlcellcombocombolist.dummy.dummy
{
	font : 12px Gulim;
	color : #555555;
}
* .ListViewCellControl .celledit
{
	font : 12px Gulim;
	background : #ffffff;
	border : 1px solid #d5d5d5;
	padding : 1px 9px 0px 9px;
}
* .ListViewCellControl .cellmaskedit
{
	font : 12px Gulim;
	background : #ffffff;
	border : 1px solid #d5d5d5;
	padding : 1px 9px 0px 9px;
}
* .ListViewCellControl .cellprogressbar
{
	font : 12px Gulim;
}
* .ListViewCellControl .celltextarea
{
	font : 12px Gulim;
}
* .ListView .body .expandbar
{
	background : linear-gradient(to top,#eaeaea,#ffffff);
	border : 1px solid #c2c2c2;
}
* .Edit.edt_default
{
	background : #ffffff;
	border : 1px solid #0d6efd;
	color : #0d6efd;
	font : 12px "-윤고딕330";
}
* .Static.sta_default
{
	background : #0d6efd;
	color : #ffffff;
	font : 12px/normal "Malgun Gothic";
}
* .Static.sta_default .nexacontentsbox
{
	text-align : center;
}
* .Combo.cmb_dept
{
	border : 1px solid #0d6efd;
	color : #0d6efd;
	font : 12px "-윤고딕330";
}
* .Combo.cmb_default
{
	border : 1px solid #0d6efd;
	cursor : pointer;
}
* .Combo.cmb_default .comboedit
{
	background : #ffffff;
	color : #0d6efd;
	font : 12px/normal "Malgun Gothic";
}
* .ListBoxControl.popupCombocmb_defaultcombolist.dummy.dummy .listboxitem
{
	color : #1c0c7c;
	font : 12px "-윤고딕330";
}
* .Static.sta_title
{
	color : #0d6efd;
	font : bold 14px/normal "Malgun Gothic";
}
* .Static.sta_line
{
	border : 1px solid #0d6efd;
	border-radius : 2px;
}
* .Div.div_line
{
	border : 1px solid #0d6efd;
	border-radius : 2px;
}
* .Grid.grd_default .head .row .cell
{
	font : bold 12px/normal "Malgun Gothic";
	background : #6c9cff;
	color : #ffffff;
}
* .Button.btn_exel
{
	color : #0d6efd;
	font : 12px "Malgun Gothic";
	border : 1px solid #0d6efd;
	background : #ffffff;
	cursor : pointer;
}
* .Button.btn_exel .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_home
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #0d6efd;
	cursor : pointer;
}
* .Button.btn_home .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_search
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #0d6efd;
	border : 1px solid #0d6efd;
	cursor : pointer;
}
* .Button.btn_search .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_del
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #1c0c7c;
	border : 1px solid #1c0c7c;
	cursor : pointer;
}
* .Button.btn_del .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_insert
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #0d6efd;
	border : 1px solid #0d6efd;
	cursor : pointer;
}
* .Button.btn_insert .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_logout
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #0d6efd;
	cursor : pointer;
}
* .Button.btn_logout .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_message
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #0d6efd;
	cursor : pointer;
}
* .Button.btn_message .nexacontentsbox
{
	text-align : center;
}
* .Calendar.cal_default
{
	border : 1px solid #0d6efd;
}
* .Calendar.cal_default .calendaredit
{
	color : #0d6efd;
	font : 12px "Malgun Gothic";
	background : #ffffff;
}
* .Button.btn_can
{
	background : #1c0c7c;
	color : #ffffff;
	font : 12px "Malgun Gothic";
	border : 1px solid #1c0c7c;
	cursor : pointer;
}
* .TextArea.txt_default
{
	border : 1px solid #0d6efd;
	font : 12px "Malgun Gothic";
	color : #383838;
}
* .MaskEdit.med_default
{
	color : #0d6efd;
	border : 1px solid #0d6efd;
	font : 12px "Malgun Gothic";
}
* .Button.btn_pdf
{
	color : #0d6efd;
	font : 12px "Malgun Gothic";
	background : #ffffff;
	border : 1px solid #0d6efd;
	cursor : pointer;
}
* .Button.btn_pdf .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_default
{
	background : #0d6efd;
	color : #ffffff;
	font : 12px "Malgun Gothic";
	border : 1px solid #0d6efd;
	cursor : pointer;
}
* .Button.btn_cal
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #0d6efd;
	border : 1px solid #0d6efd;
	cursor : pointer;
}
* .Button.btn_cal .nexacontentsbox
{
	text-align : center;
}
* .Button[status=mouseover]
{
	background : linear-gradient(to top,#e7e7e7,#fefefe);
	border : 1px solid #a0a0a0;
}
* .Button[status=focused]
{
	background : linear-gradient(to top,#e7e7e7,#fefefe);
	border : 1px solid #a0a0a0;
}
* .FileDownload[status=mouseover]
{
	background : linear-gradient(to top,#e7e7e7,#fefefe);
	border : 1px solid #a0a0a0;
}
* .FileDownload[status=focused]
{
	background : linear-gradient(to top,#e7e7e7,#fefefe);
	border : 1px solid #a0a0a0;
}
* .FileUpload .fileuploaditem .fileuploaditembutton[status=mouseover]
{
	background : linear-gradient(to top,#e7e7e7,#fefefe);
	border : 1px solid #a0a0a0;
}
* .FileUpload .fileuploaditem .fileuploaditembutton[status=focused]
{
	background : linear-gradient(to top,#e7e7e7,#fefefe);
	border : 1px solid #a0a0a0;
}
* .Calendar[status=mouseover]
{
	border : 1px solid #5a86cd;
}
* .CalendarControl[status=mouseover]
{
	border : 1px solid #5a86cd;
}
* .Calendar[status=focused]
{
	border : 1px solid #5a86cd;
}
* .CalendarControl[status=focused]
{
	border : 1px solid #5a86cd;
}
* .Calendar[status=readonly]
{
	background : #efefef;
}
* .CalendarControl[status=readonly]
{
	background : #efefef;
}
* .Combo[status=mouseover]
{
	border : 1px solid #5a86cd;
}
* .Combo[status=focused]
{
	border : 1px solid #5a86cd;
}
* .ComboControl[status=mouseover]
{
	border : 1px solid #5a86cd;
}
* .ComboControl[status=focused]
{
	border : 1px solid #5a86cd;
}
* .Combo[status=readonly]
{
	background : #efefef;
}
* .ComboControl[status=readonly]
{
	background : #efefef;
}
* .Edit[status=mouseover]
{
	border : 1px solid #5a86cd;
}
* .Edit[status=focused]
{
	border : 1px solid #5a86cd;
}
* .FileUpload .fileuploaditem .fileuploaditemedit[status=mouseover]
{
	border : 1px solid #5a86cd;
}
* .FileUpload .fileuploaditem .fileuploaditemedit[status=focused]
{
	border : 1px solid #5a86cd;
}
* .Edit[status=readonly]
{
	background : #efefef;
}
* .Grid .body .row .cell[status=mouseover]
{
	background : #f6f6f6;
}
* .Grid .body .row .cell .subcell[status=mouseover]
{
	background : #f6f6f6;
}
* .GridCellControl .cellbutton[status=mouseover]
{
	background : linear-gradient(to top,#e7e7e7,#fefefe);
	border : 1px solid #a0a0a0;
}
* .GridCellControl .cellbutton[status=focused]
{
	background : linear-gradient(to top,#e7e7e7,#fefefe);
	border : 1px solid #a0a0a0;
}
* .ListBoxControl.popupGridCellControlcellcombocombolist.dummy.dummy .listboxitem[status=mouseover]
{
	background : #e8e9ed;
}
* .GridCellControl .celledit[status=mouseover]
{
	border : 1px solid #5a86cd;
}
* .GridCellControl .celledit[status=focused]
{
	border : 1px solid #5a86cd;
}
* .GridCellControl .cellmaskedit[status=mouseover]
{
	border : 1px solid #5a86cd;
}
* .GridCellControl .cellmaskedit[status=focused]
{
	border : 1px solid #5a86cd;
}
* .ListBox[status=mouseover]
{
	border : 1px solid #5a86cd;
}
* .ListBox[status=focused]
{
	border : 1px solid #5a86cd;
}
* .ListBoxControl[status=mouseover]
{
	border : 1px solid #5a86cd;
}
* .ListBoxControl[status=focused]
{
	border : 1px solid #5a86cd;
}
* .ListBox .listboxitem[status=mouseover]
{
	background : #e7e9ed;
}
* .ListBoxControl .listboxitem[status=mouseover]
{
	background : #e7e9ed;
}
* .MaskEdit[status=mouseover]
{
	border : 1px solid #5a86cd;
}
* .MaskEdit[status=focused]
{
	border : 1px solid #5a86cd;
}
* .MaskEdit[status=readonly]
{
	background : #efefef;
}
* .Menu .menuitem[status=mouseover]
{
	background : #1c0c7c;
	color : #ffffff;
	font : bold 14px/normal "Malgun Gothic";
}
* .PopupMenuControl.popupMenumenupopupmenu.dummy .popupmenuitem[status=mouseover]
{
	color : #ffffff;
	background : transparent;
}
* .PopupMenuControl.popupMenumenupopupmenu.dummy .popupmenuitem[status=focused]
{
	color : #ffffff;
	background : #00438b;
}
* .PopupMenuControl.popupMenumenupopupmenu.dummy .popupmenuitem .popupmenuitemtext[status=mouseover]
{
	color : #ffffff;
}
* .PopupMenuControl.popupMenumenupopupmenu.dummy .popupmenuitem .popupmenuitemhotkeytext[status=mouseover]
{
	color : #ffffff;
}
* .PopupMenu .popupmenuitem[status=mouseover]
{
	background : #e7e9ed;
}
* .PopupMenu .popupmenuitem[status=focused]
{
	background : #e7e9ed;
}
* .PopupMenuControl .popupmenuitem[status=mouseover]
{
	background : #e7e9ed;
}
* .PopupMenuControl .popupmenuitem[status=focused]
{
	background : #e7e9ed;
}
* .PopupMenu .popupmenuitem .popupmenuitemcheckbox[status=mouseover]
{
	background : URL('./images/chk_WF_Box_F.png') no-repeat left center;
}
.PopupMenu.nexartl .popupmenuitem .popupmenuitemcheckbox[status=mouseover]
{
	background : url('./images/chk_WF_Box_F.png') no-repeat right center;
}
* .PopupMenuControl .popupmenuitem .popupmenuitemcheckbox[status=mouseover]
{
	background : URL('./images/chk_WF_Box_F.png') no-repeat left center;
}
.PopupMenuControl.nexartl .popupmenuitem .popupmenuitemcheckbox[status=mouseover]
{
	background : url('./images/chk_WF_Box_F.png') no-repeat right center;
}
* .Spin[status=mouseover]
{
	border : 1px solid #5a86cd;
}
* .Spin[status=focused]
{
	border : 1px solid #5a86cd;
}
* .Spin[status=readonly]
{
	background : #efefef;
}
* .TextArea[status=mouseover]
{
	border : 1px solid #5a86cd;
}
* .TextArea[status=focused]
{
	border : 1px solid #5a86cd;
}
* .TextAreaControl[status=mouseover]
{
	border : 1px solid #5a86cd;
}
* .TextAreaControl[status=focused]
{
	border : 1px solid #5a86cd;
}
* .TextArea[status=readonly]
{
	background : #efefef;
	border : 1px solid #d5d5d5;
}
* .TextAreaControl[status=readonly]
{
	background : #efefef;
	border : 1px solid #d5d5d5;
}
* .Tab .tabbuttonitemTab[status=mouseover]
{
	color : #282828;
	background : #6c9cff;
	border : 1px solid #c7c7c7;
	font : bold 12px/normal "Malgun Gothic";
}
* .Tab .tabbuttonitemTab[status=focused]
{
	color : #ffffff;
	background : #6c9cff;
	border : 1px solid #c7c7c7;
	font : 12px "Malgun Gothic";
}
* .DatePickerControl .body .dayitem[status=mouseover]
{
	color : #ffffff;
	background : #8da3c7;
}
* .DatePickerControl .body .dayitem[status=focused]
{
	color : #ffffff;
	background : #125dae;
}
* .VScrollBarControl .trackbar[status=focused]
{
	background : #999999;
	border : 1px solid #888888;
}
* .HScrollBarControl .trackbar[status=focused]
{
	background : #999999;
	border : 1px solid #888888;
}
* .VScrollBarControl .trackbar[status=mouseover]
{
	background : #bbbbbb;
	border : 1px solid #a8a8a8;
}
* .HScrollBarControl .trackbar[status=mouseover]
{
	background : #bbbbbb;
	border : 1px solid #a8a8a8;
}
* .VScrollIndicatorControl .trackbar[status=mouseover]
{
	background : #999999;
}
* .HScrollIndicatorControl .trackbar[status=mouseover]
{
	background : #999999;
}
* .ListView[status=readonly]
{
	border : 1px solid #d5d5d5;
	background : #ebecee;
	color : #666666;
}
* .ListView[status=mouseover]
{
	border : 1px solid #5a86cd;
}
* .ListView[status=focused]
{
	border : 1px solid #5a86cd;
}
* .ListView .body[status=readonly]
{
	border : 0px none, 0px none, 1px solid #dbdee2, 0px none;
	background : #ffffff;
	font : 12px Gulim;
}
.ListView.nexartl .body[status=readonly]
{
	border : 0px none,0px none,1px solid #dbdee2,0px none;
}
* .ListView .detail[status=readonly]
{
	border : 0px none, 0px none, 1px solid #dbdee2, 0px none;
	background : #ffffff;
	font : 12px Gulim;
}
.ListViewBandControl.popupListViewdetail[status=readonly]
{
	border : 0px none, 0px none, 1px solid #dbdee2, 0px none;
	background : #ffffff;
	font : 12px Gulim;
}
.ListView.nexartl .detail[status=readonly]
{
	border : 0px none,0px none,1px solid #dbdee2,0px none;
}
* .ListView .body[status=focused]
{
	border : 0px none, 0px none, 1px solid #dbdee2, 0px none;
	background : #ffffff;
	font : 12px Gulim;
}
.ListView.nexartl .body[status=focused]
{
	border : 0px none,0px none,1px solid #dbdee2,0px none;
}
* .ListView .detail[status=focused]
{
	border : 0px none, 0px none, 1px solid #dbdee2, 0px none;
	background : #ffffff;
	font : 12px Gulim;
}
.ListViewBandControl.popupListViewdetail[status=focused]
{
	border : 0px none, 0px none, 1px solid #dbdee2, 0px none;
	background : #ffffff;
	font : 12px Gulim;
}
.ListView.nexartl .detail[status=focused]
{
	border : 0px none,0px none,1px solid #dbdee2,0px none;
}
* .ListView .body[status=mouseover]
{
	border : 0px none, 0px none, 1px solid #dbdee2, 0px none;
	background : #ffffff;
	font : 12px Gulim;
}
.ListView.nexartl .body[status=mouseover]
{
	border : 0px none,0px none,1px solid #dbdee2,0px none;
}
* .ListView .detail[status=mouseover]
{
	border : 0px none, 0px none, 1px solid #dbdee2, 0px none;
	background : #ffffff;
	font : 12px Gulim;
}
.ListViewBandControl.popupListViewdetail[status=mouseover]
{
	border : 0px none, 0px none, 1px solid #dbdee2, 0px none;
	background : #ffffff;
	font : 12px Gulim;
}
.ListView.nexartl .detail[status=mouseover]
{
	border : 0px none,0px none,1px solid #dbdee2,0px none;
}
* .ListView .body .cell[status=readonly]
{
	border : 1px solid #dbdee2;
}
* .ListView .detail .cell[status=readonly]
{
	border : 1px solid #dbdee2;
}
.ListViewBandControl.popupListViewdetail .cell[status=readonly]
{
	border : 1px solid #dbdee2;
}
* .ListView .body .cell[status=focused]
{
	border : 1px solid #dbdee2;
}
* .ListView .detail .cell[status=focused]
{
	border : 1px solid #dbdee2;
}
.ListViewBandControl.popupListViewdetail .cell[status=focused]
{
	border : 1px solid #dbdee2;
}
* .ListView .body .cell[status=mouseover]
{
	border : 1px solid #c4c9cf;
}
* .ListView .detail .cell[status=mouseover]
{
	border : 1px solid #c4c9cf;
}
.ListViewBandControl.popupListViewdetail .cell[status=mouseover]
{
	border : 1px solid #c4c9cf;
}
* .ListViewCellControl .cellbutton[status=mouseover]
{
	background : linear-gradient(to top,#e7e7e7,#fefefe);
	border : 1px solid #a0a0a0;
}
* .ListViewCellControl .cellbutton[status=focused]
{
	background : linear-gradient(to top,#e7e7e7,#fefefe);
	border : 1px solid #a0a0a0;
}
* .ListBoxControl.popupListViewCellControlcellcombocombolist.dummy.dummy .listboxitem[status=mouseover]
{
	background : #e8e9ed;
}
* .ListViewCellControl .celledit[status=mouseover]
{
	border : 1px solid #5a86cd;
}
* .ListViewCellControl .celledit[status=focused]
{
	border : 1px solid #5a86cd;
}
* .ListViewCellControl .cellmaskedit[status=mouseover]
{
	border : 1px solid #5a86cd;
}
* .ListViewCellControl .cellmaskedit[status=focused]
{
	border : 1px solid #5a86cd;
}
* .ListView .body .expandbar[status=mouseover]
{
	background : linear-gradient(to top,#e7e7e7,#fefefe);
	border : 1px solid #a0a0a0;
}
* .ListView .body .expandbar[status=focused]
{
	background : linear-gradient(to top,#e7e7e7,#fefefe);
	border : 1px solid #a0a0a0;
}
* .ListBoxControl.popupCombocmb_defaultcombolist.dummy.dummy .listboxitem[status=mouseover]
{
	background : #0d6efd;
	color : #ffffff;
	font : 12px "-윤고딕330";
}
* .GridCellControl[status=mouseover]
{
	background : #1c0c7c;
}
* .Grid.grd_default .head .row .cell[status=focused]
{
	font : bold 12px/normal "Malgun Gothic";
	background : #6c9cff;
	color : #ffffff;
}
* .Grid.grd_default .body .row .cell[status=focused]
{
	font : 12px/normal "Malgun Gothic";
	background : #ffffff;
	color : #444444;
}
* .Grid.grd_default .body .row .cell[status=readonly]
{
	font : 12px/normal "Malgun Gothic";
	background : #ffffff;
	color : #444444;
}
* .Grid.grd_default .body .row .cell[status=mouseover]
{
	font : bold 12px "Malgun Gothic";
	color : #1c0c7c;
}
* .Button.btn_exel[status=mouseover]
{
	color : #0d6efd;
	font : 12px "Malgun Gothic";
	border : 1px solid #0d6efd;
	background : #ffffff;
	cursor : pointer;
}
* .Button.btn_exel[status=mouseover] .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_exel[status=focused]
{
	color : #0d6efd;
	font : 12px "Malgun Gothic";
	border : 1px solid #0d6efd;
	background : #ffffff;
	cursor : pointer;
}
* .Button.btn_exel[status=focused] .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_home[status=mouseover]
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #0d6efd;
	cursor : pointer;
}
* .Button.btn_home[status=mouseover] .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_home[status=focused]
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #0d6efd;
	cursor : pointer;
}
* .Button.btn_home[status=focused] .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_search[status=mouseover]
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #0d6efd;
	border : 1px solid #0d6efd;
	cursor : pointer;
}
* .Button.btn_search[status=mouseover] .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_search[status=focused]
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #0d6efd;
	border : 1px solid #0d6efd;
	cursor : pointer;
}
* .Button.btn_search[status=focused] .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_del[status=mouseover]
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #1c0c7c;
	border : 1px solid #1c0c7c;
	cursor : pointer;
}
* .Button.btn_del[status=mouseover] .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_del[status=focused]
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #1c0c7c;
	border : 1px solid #1c0c7c;
	cursor : pointer;
}
* .Button.btn_del[status=focused] .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_insert[status=mouseover]
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #0d6efd;
	border : 1px solid #0d6efd;
	cursor : pointer;
}
* .Button.btn_insert[status=mouseover] .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_insert[status=focused]
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #0d6efd;
	border : 1px solid #0d6efd;
	cursor : pointer;
}
* .Button.btn_insert[status=focused] .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_logout[status=mouseover]
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #0d6efd;
	cursor : pointer;
}
* .Button.btn_logout[status=mouseover] .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_logout[status=focused]
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #0d6efd;
	cursor : pointer;
}
* .Button.btn_logout[status=focused] .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_message[status=mouseover]
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #0d6efd;
	cursor : pointer;
}
* .Button.btn_message[status=mouseover] .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_message[status=focused]
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #0d6efd;
	cursor : pointer;
}
* .Button.btn_message[status=focused] .nexacontentsbox
{
	text-align : center;
}
* .Calendar.cal_default[status=mouseover]
{
	border : 1px solid #0d6efd;
}
* .Calendar.cal_default[status=focused]
{
	border : 1px solid #0d6efd;
}
* .Calendar.cal_default[status=readonly]
{
	border : 1px solid #0d6efd;
}
* .Button.btn_can[status=mouseover]
{
	background : #1c0c7c;
	color : #ffffff;
	font : 12px "Malgun Gothic";
	border : 1px solid #1c0c7c;
	cursor : pointer;
}
* .Button.btn_can[status=focused]
{
	background : #1c0c7c;
	color : #ffffff;
	font : 12px "Malgun Gothic";
	border : 1px solid #1c0c7c;
	cursor : pointer;
}
* .TextArea.txt_default[status=mouseover]
{
	border : 1px solid #0d6efd;
	font : 12px "Malgun Gothic";
	color : #383838;
}
* .TextArea.txt_default[status=focused]
{
	border : 1px solid #0d6efd;
	font : 12px "Malgun Gothic";
	color : #383838;
}
* .TextArea.txt_default[status=readonly]
{
	border : 1px solid #0d6efd;
	font : 12px "Malgun Gothic";
	color : #383838;
}
* .MaskEdit.med_default[status=mouseover]
{
	color : #0d6efd;
	border : 1px solid #0d6efd;
	font : 12px "Malgun Gothic";
}
* .MaskEdit.med_default[status=focused]
{
	color : #0d6efd;
	border : 1px solid #0d6efd;
	font : 12px "Malgun Gothic";
}
* .MaskEdit.med_default[status=readonly]
{
	color : #0d6efd;
	border : 1px solid #0d6efd;
	font : 12px "Malgun Gothic";
}
* .Combo.cmb_default[status=readonly]
{
	border : 1px solid #0d6efd;
	font : 12px "Malgun Gothic";
	color : #0d6efd;
}
* .Button.btn_pdf[status=mouseover]
{
	color : #0d6efd;
	font : 12px "Malgun Gothic";
	background : #ffffff;
	border : 1px solid #0d6efd;
	cursor : pointer;
}
* .Button.btn_pdf[status=mouseover] .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_pdf[status=focused]
{
	color : #0d6efd;
	font : 12px "Malgun Gothic";
	background : #ffffff;
	border : 1px solid #0d6efd;
	cursor : pointer;
}
* .Button.btn_pdf[status=focused] .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_default[status=mouseover]
{
	background : #0d6efd;
	color : #ffffff;
	font : 12px "Malgun Gothic";
	border : 1px solid #0d6efd;
	cursor : pointer;
}
* .Button.btn_default[status=focused]
{
	background : #0d6efd;
	color : #ffffff;
	font : 12px "Malgun Gothic";
	border : 1px solid #0d6efd;
	cursor : pointer;
}
* .Grid.grd_default .head[status=mouseover]
{
	font : bold 12px/normal "Malgun Gothic";
	background : #6c9cff;
	color : #ffffff;
}
* .Grid.grd_default .head[status=focused]
{
	font : bold 12px/normal "Malgun Gothic";
	background : #6c9cff;
	color : #ffffff;
}
* .Grid.grd_default .head[status=readonly]
{
	font : bold 12px/normal "Malgun Gothic";
	background : #6c9cff;
	color : #ffffff;
}
* .Grid.grd_default .head .row .cell[status=mouseover]
{
	font : bold 12px/normal "Malgun Gothic";
	background : #6c9cff;
	color : #ffffff;
}
* .Button.btn_cal[status=mouseover]
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #0d6efd;
	border : 1px solid #0d6efd;
	cursor : pointer;
}
* .Button.btn_cal[status=mouseover] .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_cal[status=focused]
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #0d6efd;
	border : 1px solid #0d6efd;
	cursor : pointer;
}
* .Button.btn_cal[status=focused] .nexacontentsbox
{
	text-align : center;
}
* .Form[userstatus=contents]
{
	background : transparent;
}
* .Button[userstatus=pushed]
{
	background : linear-gradient(to top,#fefefe,#e9e9e9);
}
* .Button[userstatus=selected]
{
	background : linear-gradient(to top,#fefefe,#e9e9e9);
}
* .FileDownload[userstatus=pushed]
{
	background : linear-gradient(to top,#fefefe,#e9e9e9);
}
* .FileUpload .fileuploaditem .fileuploaditembutton[userstatus=pushed]
{
	background : linear-gradient(to top,#fefefe,#e9e9e9);
}
* .FileUpload .fileuploaditem .fileuploaditembutton[userstatus=selected]
{
	background : linear-gradient(to top,#fefefe,#e9e9e9);
}
* .Edit[userstatus=nulltext]
{
	color : #999999;
}
* .EditControl[userstatus=nulltext]
{
	color : #999999;
}
* .MaskEdit[userstatus=nulltext]
{
	color : #999999;
}
* .MaskEditControl[userstatus=nulltext]
{
	color : #999999;
}
* .TextArea[userstatus=nulltext]
{
	color : #999999;
}
* .TextAreaControl[userstatus=nulltext]
{
	color : #999999;
}
* .Calendar[userstatus=invalidtext]
{
	color : #999999;
}
* .CalendarControl[userstatus=invalidtext]
{
	color : #999999;
}
* .MaskEdit[userstatus=invalidtext]
{
	color : #999999;
}
* .MaskEditControl[userstatus=invalidtext]
{
	color : #999999;
}
* .Spin[userstatus=invalidtext]
{
	color : #999999;
}
* .SpinControl[userstatus=invalidtext]
{
	color : #999999;
}
* .Grid .body .row .cell[userstatus=selected]
{
	background : #f2f9ff;
}
* .Grid .body .row .cell .subcell[userstatus=selected]
{
	background : #f2f9ff;
}
* .Grid .body .row .cell .subcell[userstatus=blinked]
{
	background : #125dae;
	color : #ffffff;
}
* .GridCellControl .cellbutton[userstatus=pushed]
{
	background : linear-gradient(to top,#fefefe,#e9e9e9);
}
* .GridCellControl .cellbutton[userstatus=selected]
{
	background : linear-gradient(to top,#fefefe,#e9e9e9);
}
* .Grid .body .row .cell[userstatus=blinked]
{
	background : #125dae;
	color : #ffffff;
}
* .ListBox .listboxitem[userstatus=selected]
{
	color : #ffffff;
	background : #125dae;
}
* .ListBoxControl .listboxitem[userstatus=selected]
{
	color : #ffffff;
	background : #125dae;
}
* .Menu .menuitem[userstatus=selected]
{
	background : #00438b URL('./images/img_WF_Menu_O.png') no-repeat center top;
}
.Menu.nexartl .menuitem[userstatus=selected]
{
	background : url('./images/img_WF_Menu_O.png') no-repeat center top #00438b;
}
* .PopupMenuControl.popupMenumenupopupmenu.dummy .popupmenuitem[userstatus=selected]
{
	color : #ffffff;
	background : #00438b;
}
* .PopupMenu .popupmenuitem[userstatus=selected]
{
	color : #ffffff;
	background : #125dae;
}
* .PopupMenuControl .popupmenuitem[userstatus=selected]
{
	color : #ffffff;
	background : #125dae;
}
* .Tab .tabbuttonitemTab[userstatus=selected]
{
	color : #282828;
	background : #6c9cff;
	border : 1px solid #c7c7c7;
	font : bold 12px/normal "Malgun Gothic";
}
* .DatePickerControl .body .weekitem[userstatus=saturday]
{
	color : #48afff;
}
* .DatePickerControl .body .weekitem[userstatus=sunday]
{
	color : #ff7986;
}
* .DatePickerControl .body .dayitem[userstatus=selected]
{
	color : #ffffff;
	background : #125dae;
}
* .DatePickerControl .body .dayitem[userstatus=today]
{
	color : #ffffff;
	background : #e7595c;
}
* .DatePickerControl .body .dayitem[userstatus=saturday]
{
	color : #269bee;
}
* .DatePickerControl .body .dayitem[userstatus=sunday]
{
	color : #ff4c5e;
}
* .DatePickerControl .body .dayitem[userstatus=trailingday]
{
	color : #989898;
}
* .VScrollBarControl .trackbar[userstatus=pushed]
{
	background : #999999;
	border : 1px solid #888888;
}
* .VScrollBarControl .trackbar[userstatus=selected]
{
	background : #999999;
	border : 1px solid #888888;
}
* .HScrollBarControl .trackbar[userstatus=pushed]
{
	background : #999999;
	border : 1px solid #888888;
}
* .HScrollBarControl .trackbar[userstatus=selected]
{
	background : #999999;
	border : 1px solid #888888;
}
* .VScrollIndicatorControl .trackbar[userstatus=pushed]
{
	background : #606060;
}
* .HScrollIndicatorControl .trackbar[userstatus=pushed]
{
	background : #606060;
}
* .ListView .body[userstatus=selected]
{
	background : #f2f9ff;
}
* .ListView .detail[userstatus=selected]
{
	background : #ebf3f9;
}
.ListViewBandControl.popupListViewdetail[userstatus=selected]
{
	background : #ebf3f9;
}
* .ListViewCellControl .cellbutton[userstatus=pushed]
{
	background : linear-gradient(to top,#fefefe,#e9e9e9);
}
* .Grid.grd_default .head .row .cell[userstatus=selected]
{
	font : bold 12px/normal "Malgun Gothic";
	background : #6c9cff;
	color : #ffffff;
}
* .Button.btn_exel[userstatus=pushed]
{
	color : #0d6efd;
	font : 12px "Malgun Gothic";
	border : 1px solid #0d6efd;
	background : #ffffff;
	cursor : pointer;
}
* .Button.btn_exel[userstatus=pushed] .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_exel[userstatus=selected]
{
	color : #0d6efd;
	font : 12px "Malgun Gothic";
	border : 1px solid #0d6efd;
	background : #ffffff;
	cursor : pointer;
}
* .Button.btn_exel[userstatus=selected] .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_home[userstatus=pushed]
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #0d6efd;
	cursor : pointer;
}
* .Button.btn_home[userstatus=pushed] .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_home[userstatus=selected]
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #0d6efd;
	cursor : pointer;
}
* .Button.btn_home[userstatus=selected] .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_search[userstatus=pushed]
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #0d6efd;
	border : 1px solid #0d6efd;
	cursor : pointer;
}
* .Button.btn_search[userstatus=pushed] .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_search[userstatus=selected]
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #0d6efd;
	border : 1px solid #0d6efd;
	cursor : pointer;
}
* .Button.btn_search[userstatus=selected] .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_del[userstatus=pushed]
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #1c0c7c;
	border : 1px solid #1c0c7c;
	cursor : pointer;
}
* .Button.btn_del[userstatus=pushed] .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_del[userstatus=selected]
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #1c0c7c;
	border : 1px solid #1c0c7c;
	cursor : pointer;
}
* .Button.btn_del[userstatus=selected] .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_insert[userstatus=pushed]
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #0d6efd;
	border : 1px solid #0d6efd;
	cursor : pointer;
}
* .Button.btn_insert[userstatus=pushed] .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_insert[userstatus=selected]
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #0d6efd;
	border : 1px solid #0d6efd;
	cursor : pointer;
}
* .Button.btn_insert[userstatus=selected] .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_logout[userstatus=pushed]
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #0d6efd;
	cursor : pointer;
}
* .Button.btn_logout[userstatus=pushed] .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_logout[userstatus=selected]
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #0d6efd;
	cursor : pointer;
}
* .Button.btn_logout[userstatus=selected] .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_message[userstatus=pushed]
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #0d6efd;
	cursor : pointer;
}
* .Button.btn_message[userstatus=pushed] .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_message[userstatus=selected]
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #0d6efd;
	cursor : pointer;
}
* .Button.btn_message[userstatus=selected] .nexacontentsbox
{
	text-align : center;
}
* .Calendar.cal_default[userstatus=invalidtext]
{
	border : 1px solid #0d6efd;
}
* .Button.btn_can[userstatus=pushed]
{
	background : #1c0c7c;
	color : #ffffff;
	font : 12px "Malgun Gothic";
	border : 1px solid #1c0c7c;
	cursor : pointer;
}
* .Button.btn_can[userstatus=selected]
{
	background : #1c0c7c;
	color : #ffffff;
	font : 12px "Malgun Gothic";
	border : 1px solid #1c0c7c;
	cursor : pointer;
}
* .TextArea.txt_default[userstatus=nulltext]
{
	border : 1px solid #0d6efd;
	font : 12px "Malgun Gothic";
	color : #383838;
}
* .MaskEdit.med_default[userstatus=nulltext]
{
	color : #0d6efd;
	border : 1px solid #0d6efd;
	font : 12px "Malgun Gothic";
}
* .MaskEdit.med_default[userstatus=invalidtext]
{
	color : #0d6efd;
	border : 1px solid #0d6efd;
	font : 12px "Malgun Gothic";
}
* .Button.btn_pdf[userstatus=pushed]
{
	color : #0d6efd;
	font : 12px "Malgun Gothic";
	background : #ffffff;
	border : 1px solid #0d6efd;
	cursor : pointer;
}
* .Button.btn_pdf[userstatus=pushed] .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_pdf[userstatus=selected]
{
	color : #0d6efd;
	font : 12px "Malgun Gothic";
	background : #ffffff;
	border : 1px solid #0d6efd;
	cursor : pointer;
}
* .Button.btn_pdf[userstatus=selected] .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_default[userstatus=pushed]
{
	background : #0d6efd;
	color : #ffffff;
	font : 12px "Malgun Gothic";
	border : 1px solid #0d6efd;
	cursor : pointer;
}
* .Button.btn_default[userstatus=selected]
{
	background : #0d6efd;
	color : #ffffff;
	font : 12px "Malgun Gothic";
	border : 1px solid #0d6efd;
	cursor : pointer;
}
* .Button.btn_cal[userstatus=pushed]
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #0d6efd;
	border : 1px solid #0d6efd;
	cursor : pointer;
}
* .Button.btn_cal[userstatus=pushed] .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_cal[userstatus=selected]
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #0d6efd;
	border : 1px solid #0d6efd;
	cursor : pointer;
}
* .Button.btn_cal[userstatus=selected] .nexacontentsbox
{
	text-align : center;
}
* .Form[status=disabled]
{
	color : #999999;
}
* .FileUpload .fileuploaditem[status=disabled]
{
	color : #999999;
}
* .Button[status=disabled]
{
	color : #bbbbbb;
	background : #f5f5f5;
	border : 1px solid #d9d9d9;
}
* .FileDownload[status=disabled]
{
	color : #bbbbbb;
	background : #f5f5f5;
	border : 1px solid #d9d9d9;
}
* .FileUpload .fileuploaditem .fileuploaditembutton[status=disabled]
{
	color : #bbbbbb;
	background : #f5f5f5;
	border : 1px solid #d9d9d9;
}
* .Calendar[status=disabled]
{
	color : #999999;
	background : #efefef;
}
* .CalendarControl[status=disabled]
{
	color : #999999;
	background : #efefef;
}
* .CheckBox[status=disabled]
{
	color : #999999;
}
* .CheckBoxControl[status=disabled]
{
	color : #999999;
}
* .Combo[status=disabled]
{
	color : #999999;
	background : #efefef;
}
* .ComboControl[status=disabled]
{
	color : #999999;
	background : #efefef;
}
* .Combo .dropbutton[status=disabled]
{
	opacity : 0.50;
}
* .ComboControl .dropbutton[status=disabled]
{
	opacity : 0.50;
}
* .Edit[status=disabled]
{
	color : #999999;
	background : #efefef;
}
* .FileUpload .fileuploaditem .fileuploaditemedit[status=disabled]
{
	color : #999999;
	background : #efefef;
}
* .Grid .head .row .cell[status=disabled]
{
	color : #999999;
}
* .Grid .body .row .cell[status=disabled]
{
	color : #999999;
}
* .Grid .body .row .cell .subcell[status=disabled]
{
	color : #999999;
}
* .GridCellControl .cellbutton[status=disabled]
{
	color : #bbbbbb;
	background : #f5f5f5;
	border : 1px solid #d9d9d9;
}
* .GridCellControl .celledit[status=disabled]
{
	color : #999999;
	background : #efefef;
}
* .GridCellControl .cellmaskedit[status=disabled]
{
	color : #999999;
	background : #efefef;
}
* .GridCellControl .celltreeitem .treeitemtext[status=disabled]
{
	color : #3d3d3d;
	font : 12px/normal Malgun Gothic;
}
* .GroupBox .groupboxcontents[status=disabled]
{
	background : #efefef;
}
* .GroupBox .groupboxtitle[status=disabled]
{
	color : #999999;
	background : #efefef;
}
* .ImageViewer[status=disabled]
{
	background : #f2f2f2;
}
* .ImageViewer .imagetext[status=disabled]
{
	color : #999999;
}
* .ListBox[status=disabled]
{
	background : #efefef;
}
* .ListBoxControl[status=disabled]
{
	background : #efefef;
}
* .ListBox .listboxitem[status=disabled]
{
	opacity : 0.50;
}
* .ListBoxControl .listboxitem[status=disabled]
{
	opacity : 0.50;
}
* .MaskEdit[status=disabled]
{
	color : #999999;
	background : #f2f2f2;
}
* .Menu[status=disabled]
{
	font : 14px/normal "Malgun Gothic";
}
* .Menu .menuitem[status=disabled]
{
	font : 14px/normal "Malgun Gothic";
	color : #c7d4e2;
}
* .PopupMenuControl.popupMenumenupopupmenu.dummy .popupmenuitem[status=disabled]
{
	color : #2665af;
}
* .PopupMenuControl.popupMenumenupopupmenu.dummy .popupmenuitem .popupmenuitemtext[status=disabled]
{
	color : #2665af;
}
* .PopupMenuControl.popupMenumenupopupmenu.dummy .popupmenuitem .popupmenuitemhotkeytext[status=disabled]
{
	color : #4577b9;
}
* .PopupMenu .popupmenuitem[status=disabled]
{
	color : #999999;
}
* .PopupMenuControl .popupmenuitem[status=disabled]
{
	color : #999999;
}
* .PopupMenu .popupmenuitem .popupmenuitemcheckbox[status=disabled]
{
	background : URL('./images/chk_WF_Box_D.png') no-repeat left center;
}
.PopupMenu.nexartl .popupmenuitem .popupmenuitemcheckbox[status=disabled]
{
	background : url('./images/chk_WF_Box_D.png') no-repeat right center;
}
* .PopupMenuControl .popupmenuitem .popupmenuitemcheckbox[status=disabled]
{
	background : URL('./images/chk_WF_Box_D.png') no-repeat left center;
}
.PopupMenuControl.nexartl .popupmenuitem .popupmenuitemcheckbox[status=disabled]
{
	background : url('./images/chk_WF_Box_D.png') no-repeat right center;
}
* .PopupMenu .popupmenuitem .popupmenuitemhotkeytext[status=disabled]
{
	color : #4577b9;
}
* .PopupMenuControl .popupmenuitem .popupmenuitemhotkeytext[status=disabled]
{
	color : #4577b9;
}
* .ProgressBar .progressbaritem[status=disabled]
{
	background : #b5b5b5;
}
* .ProgressBarControl .progressbaritem[status=disabled]
{
	background : #b5b5b5;
}
* .Sketch[status=disabled]
{
	background : #efefef;
}
* .Spin[status=disabled]
{
	color : #999999;
	background : #efefef;
}
* .Spin .spinedit[status=disabled]
{
	padding : 1px 2px 0px 9px;
}
.Spin.nexartl .spinedit[status=disabled]
{
	padding : 1px 9px 0px 2px;
}
* .Static[status=disabled]
{
	color : #999999;
}
* .StaticControl[status=disabled]
{
	color : #999999;
}
* .TextArea[status=disabled]
{
	color : #999999;
	background : #efefef;
}
* .TextAreaControl[status=disabled]
{
	color : #999999;
	background : #efefef;
}
* .Tab .tabbuttonitemTab[status=disabled]
{
	color : #ffffff;
	background : #6c9cff;
	border : 1px solid #c7c7c7;
	font : 12px "Malgun Gothic";
}
* .Tab .tabbuttonitemTab .tabbuttonitemtext[status=disabled]
{
	color : #ffffff;
	font : 12px/normal "Malgun Gothic";
}
* .DatePickerControl .head[status=disabled]
{
	background : #94a9bf;
	color : #cdcdcd;
}
* .DatePickerControl .head .yearstatic[status=disabled]
{
	color : #c7d4e2;
}
* .DatePickerControl .head .monthstatic[status=disabled]
{
	color : #c7d4e2;
}
* .DatePickerControl .body[status=disabled]
{
	border : 1px solid #98a6b5;
}
* .DatePickerControl .body .weekband[status=disabled]
{
	background : #94a9bf;
}
* .DatePickerControl .body .weekitem[status=disabled]
{
	color : #c7d4e2;
	background : #94a9bf;
}
* .DatePickerControl .body .dayitem[status=disabled]
{
	color : #cdcdcd;
}
* .VScrollBarControl .trackbar[status=disabled]
{
	background : #eeeeee;
	border : 1px solid #d8d8d8;
}
* .HScrollBarControl .trackbar[status=disabled]
{
	background : #eeeeee;
	border : 1px solid #d8d8d8;
}
* .ListView[status=disabled]
{
	background : #666666;
}
* .ListView .body[status=disabled]
{
	color : #999999;
}
* .ListView .detail[status=disabled]
{
	color : #999999;
}
.ListViewBandControl.popupListViewdetail[status=disabled]
{
	color : #999999;
}
* .ListView .body .cell[status=disabled]
{
	border : 1px solid #dbdee2;
}
* .ListView .detail .cell[status=disabled]
{
	border : 1px solid #dbdee2;
}
.ListViewBandControl.popupListViewdetail .cell[status=disabled]
{
	border : 1px solid #dbdee2;
}
* .ListViewCellControl .cellbutton[status=disabled]
{
	color : #bbbbbb;
	background : #f5f5f5;
	border : 1px solid #d9d9d9;
}
* .ListViewCellControl .celledit[status=disabled]
{
	color : #999999;
	background : #efefef;
}
* .ListViewCellControl .cellmaskedit[status=disabled]
{
	color : #999999;
	background : #efefef;
}
* .ListView .body .expandbar[status=disabled]
{
	color : #bbbbbb;
	background : #f5f5f5;
	border : 1px solid #d9d9d9;
	opacity : 0.50;
}
* .Grid.grd_default .head .row .cell[status=disabled]
{
	font : bold 12px/normal "Malgun Gothic";
	background : #6c9cff;
	color : #ffffff;
}
* .Grid.grd_default .body .row .cell[status=disabled]
{
	font : 12px/normal "Malgun Gothic";
	background : #ffffff;
	color : #444444;
}
* .Button.btn_exel[status=disabled]
{
	color : #0d6efd;
	font : 12px "Malgun Gothic";
	border : 1px solid #0d6efd;
	background : #ffffff;
	cursor : pointer;
}
* .Button.btn_exel[status=disabled] .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_home[status=disabled]
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #0d6efd;
	cursor : pointer;
}
* .Button.btn_home[status=disabled] .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_search[status=disabled]
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #0d6efd;
	border : 1px solid #0d6efd;
	cursor : pointer;
}
* .Button.btn_search[status=disabled] .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_del[status=disabled]
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #1c0c7c;
	border : 1px solid #1c0c7c;
	cursor : pointer;
}
* .Button.btn_del[status=disabled] .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_insert[status=disabled]
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #0d6efd;
	border : 1px solid #0d6efd;
	cursor : pointer;
}
* .Button.btn_insert[status=disabled] .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_logout[status=disabled]
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #0d6efd;
	cursor : pointer;
}
* .Button.btn_logout[status=disabled] .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_message[status=disabled]
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #0d6efd;
	cursor : pointer;
}
* .Button.btn_message[status=disabled] .nexacontentsbox
{
	text-align : center;
}
* .Calendar.cal_default[status=disabled]
{
	border : 1px solid #0d6efd;
}
* .Button.btn_can[status=disabled]
{
	background : #1c0c7c;
	color : #ffffff;
	font : 12px "Malgun Gothic";
	border : 1px solid #1c0c7c;
	cursor : pointer;
}
* .TextArea.txt_default[status=disabled]
{
	border : 1px solid #0d6efd;
	font : 12px "Malgun Gothic";
	color : #383838;
}
* .MaskEdit.med_default[status=disabled]
{
	color : #0d6efd;
	border : 1px solid #0d6efd;
	font : 12px "Malgun Gothic";
}
* .Button.btn_pdf[status=disabled]
{
	color : #0d6efd;
	font : 12px "Malgun Gothic";
	background : #ffffff;
	border : 1px solid #0d6efd;
	cursor : pointer;
}
* .Button.btn_pdf[status=disabled] .nexacontentsbox
{
	text-align : center;
}
* .Button.btn_default[status=disabled]
{
	background : #0d6efd;
	color : #ffffff;
	font : 12px "Malgun Gothic";
	border : 1px solid #0d6efd;
	cursor : pointer;
}
* .Grid.grd_default .head[status=disabled]
{
	font : bold 12px/normal "Malgun Gothic";
	background : #6c9cff;
	color : #ffffff;
}
* .Button.btn_cal[status=disabled]
{
	color : #ffffff;
	font : 12px "Malgun Gothic";
	background : #0d6efd;
	border : 1px solid #0d6efd;
	cursor : pointer;
}
* .Button.btn_cal[status=disabled] .nexacontentsbox
{
	text-align : center;
}
* .CheckBox[status=disabled][userstatus=selected]
{
	color : #999999;
}
* .CheckBoxControl[status=disabled][userstatus=selected]
{
	color : #999999;
}
* .Grid .body .row .cell[status=disabled][userstatus=selected]
{
	background : #f0f0f0;
}
* .Tab .tabbuttonitemTab[status=focused][userstatus=selected]
{
	color : #282828;
	background : #6c9cff;
	border : 1px solid #c7c7c7;
	font : bold 12px/normal "Malgun Gothic";
}
* .Tab .tabbuttonitemTab[status=disabled][userstatus=selected]
{
	color : #ffffff;
	background : #6c9cff;
	border : 1px solid #c7c7c7;
	font : 12px "Malgun Gothic";
}
* .DatePickerControl .body .dayitem[status=mouseover][userstatus=saturday]
{
	color : #ffffff;
}
* .DatePickerControl .body .dayitem[status=mouseover][userstatus=sunday]
{
	color : #ffffff;
}
* .DatePickerControl .body .dayitem[status=mouseover][userstatus=trailingday]
{
	color : #ffffff;
}
* .DatePickerControl .body .dayitem[status=disabled][userstatus=selected]
{
	background : #f0f0f0;
}
* .Grid.grd_default .head .row .cell[status=mouseover][userstatus=selected]
{
	font : bold 12px/normal "Malgun Gothic";
	background : #6c9cff;
	color : #ffffff;
}
* .Grid.grd_default .head .row .cell[status=mouseover][userstatus=blinked]
{
	font : bold 12px/normal "Malgun Gothic";
	background : #6c9cff;
	color : #ffffff;
}
* .Grid.grd_default .head .row .cell[status=mouseover][userstatus=invalidtext]
{
	font : bold 12px/normal "Malgun Gothic";
	background : #6c9cff;
	color : #ffffff;
}
* .Grid.grd_default .body .row .cell[userstatus=selected][status=mouseover]
{
	font : bold 12px "Malgun Gothic";
	color : #1c0c7c;
}
* .Calendar.cal_default .dropbutton[status=disabled][userstatus=pushed]
{
	background : url('./images/btn_Cal_N.png');
}
.Calendar.nexartl.cal_default .dropbutton[status=disabled][userstatus=pushed]
{
	background : url('./images/btn_Cal_N.png') right;
}
* .Calendar.cal_default .dropbutton[status=disabled][userstatus=selected]
{
	background : url('./images/btn_Cal_N.png');
}
.Calendar.nexartl.cal_default .dropbutton[status=disabled][userstatus=selected]
{
	background : url('./images/btn_Cal_N.png') right;
}
