
html, body
{
  position:absolute;
  width:100%;
  height:100%;
  font:12pt Verdana;
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
}

div
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
  background-origin:padding-box;
  background-repeat:no-repeat;
  white-space : pre;
  -moz-user-select:-moz-none;
  -webkit-user-select:none;
  -webkit-touch-callout:none;
  -webkit-appearance:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  outline:none;
}

table
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

input
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

img
{
  position:absolute;
  box-sizing:border-box;
}

textarea::-webkit-scrollbar { display: none; }


.nexacontainer
{
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
}
.nexacontainer.withvscroll
{
  right:14px;
}
.nexacontainer.withhscroll
{
  bottom:14px;
}
.nexacontainer.withbothscroll
{
  right:14px;
  bottom:14px;
}

.nexalefttop
{
  left:0px;
  top:0px;
  background-repeat:no-repeat;
  background-position:left top;
  font-size:1px;
}
.nexaleftbottom
{
  left:0px;
  bottom:0px;
  background-repeat:no-repeat;
  background-position:left bottom;
  font-size:1px;
}
.nexarightbottom
{
  right:0px;
  bottom:0px;
  background-repeat:no-repeat;
  background-position:right bottom;
  font-size:1px;
}
.nexarighttop
{
  right:0px;
  top:0px;
  background-repeat:no-repeat;
  background-position:right top;
}
.nexaedge
{
  width:100%;
  height:100%;
}
.nexamodaloverlay
{
  width:100%;
  height:100%;
}
.nexainnercontainer
{
  
}

.nexatransform
{
  
}

.nexacontentsbox
{
  position:relative;
  display:table-cell;
  background-position:left center;
  background-repeat:no-repeat;
  vertical-align:middle;
}
.nexatextitem
{
  position:relative;
  vertical-align:middle;
  white-space:inherit;
  word-wrap:inherit;
  word-break:inherit;
  text-decoration:inherit;
}
.nexaiconitem
{
  position:relative;
  vertical-align:middle;
  background-position:center center;
  background-repeat:no-repeat;
}

.nexainput
{
  font:inherit;
  color:inherit;
  cursor:inherit;
  letter-spacing:inherit;
  word-spacing:inherit;
  border:none;
  outline:none;
  background:transparent;
  padding : 0px;  
}

.nexatextarea
{
  font:inherit;
  color:inherit;
  cursor:inherit;
  line-height : inherit;
  letter-spacing:inherit;
  word-spacing:inherit;
  white-space:pre;
  word-wrap:normal;
  border:none;
  outline:none;
  resize:none;
  background:transparent;
  padding : 0px;
}

.nexaleftalign
{
  text-align:left;
}

.nexarightalign
{
  text-align:right;
}

.nexacenteralign
{
  text-align:center;
}

.nexamap div *
{
  overflow:visible;
}

.ProgressBar,.ProgressBarControl
{

}

.celltreeline
{
  border : 1px dotted #999999;
}

.Edit, .MaskEdit, .TextArea, .EditControl, .MaskEditControl, .TextAreaControl
{
  cursor:text;
}
.Button .nexacontentsbox, .ButtonControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.FileDownload  .nexacontentsbox, .FileDownloadControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.IconTextControl .nexacontentsbox, .IconControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.DatePickerDayItemControl .nexacontentsbox, .DatePickerWeekItemControl .nexacontentsbox, .TitleBarButtonControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.Sketch .nexacontentsbox
{
   text-align:center;
}

.MainFrame, .VScrollBarControl, .HScrollBarControl
{
  cursor:default;
}

.Grid .body .row .cell.Expr_red.dummy.dummy.dummy
{
	background : #d23636;
	color : #ffffff;
}
.Grid .body .row .cell.Expr_red.dummy.dummy.dummy.oddcell
{
	background : #d23636;
}
.Grid .body .row .cell.Expr_blue.dummy.dummy.dummy
{
<<<<<<< HEAD
	background : #d23636;
}
.Grid.nexartl .body .row .cell.Expr_red.oddcell
{
	background : #d23636;
}
div.Grid .body .row .cell.Expr_blue.dummy.dummy.dummy
{
	background : #78a2dd;
	color : #ffffff;
}
div.Grid .body .row .cell.Expr_blue.dummy.dummy.dummy.oddcell
{
	background : #78a2dd;
}
.Grid.nexartl .body .row .cell.Expr_blue
{
	background : #78a2dd;
}
.Grid.nexartl .body .row .cell.Expr_blue.oddcell
{
	background : #78a2dd;
}
div.Grid .body .row .cell.Expr_yellow.dummy.dummy.dummy
{
	background : #ab9f1b;
	color : #ffffff;
}
div.Grid .body .row .cell.Expr_yellow.dummy.dummy.dummy.oddcell
{
	color : #ab9f1b;
}
.Grid.nexartl .body .row .cell.Expr_yellow
{
	background : #ab9f1b;
}
div#nexacontainer .Grid .body .row .cell.Expr_red.dummy.dummy.dummy[status=mouseover]
{
	color : #d23636;
	background : #ffffff;
}
div#nexacontainer .Grid .body .row .cell.Expr_red.dummy.dummy.dummy.oddcell[status=mouseover]
{
	background : #ffffff;
}
.Grid.nexartl .body .row .cell.Expr_red[status=mouseover]
{
	background : #ffffff;
}
.Grid.nexartl .body .row .cell.Expr_red.oddcell[status=mouseover]
{
	background : #ffffff;
}
div#nexacontainer .Grid .body .row .cell.Expr_blue.dummy.dummy.dummy[status=mouseover]
{
	color : #78a2dd;
	background : #ffffff;
}
div#nexacontainer .Grid .body .row .cell.Expr_blue.dummy.dummy.dummy.oddcell[status=mouseover]
{
	color : #ffffff;
}
.Grid.nexartl .body .row .cell.Expr_blue[status=mouseover]
{
	background : #ffffff;
}
div#nexacontainer .Grid .body .row .cell.Expr_yellow.dummy.dummy.dummy.oddcell[status=mouseover]
{
	color : #ffffff;
}
div#nexacontainer .Grid .body .row .cell.Expr_yellow.dummy.dummy.dummy[status=mouseover]
{
	color : #ab9f1b;
	background : #ffffff;
=======
	background : #78a2dd;
	color : #ffffff;
>>>>>>> 62f71c91ca4c9bb05c706aa9b70672fff3aa9b42
}
.Grid .body .row .cell.Expr_blue.dummy.dummy.dummy.oddcell
{
<<<<<<< HEAD
=======
	background : #78a2dd;
}
.Grid .body .row .cell.Expr_yellow.dummy.dummy.dummy
{
	background : #ab9f1b;
	color : #ffffff;
}
.Grid .body .row .cell.Expr_yellow.dummy.dummy.dummy.oddcell
{
	color : #ab9f1b;
}
#nexacontainer .Grid .body .row .cell.Expr_red.dummy.dummy.dummy[status=mouseover]
{
	color : #d23636;
	background : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_red.dummy.dummy.dummy.oddcell[status=mouseover]
{
	background : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_blue.dummy.dummy.dummy[status=mouseover]
{
	color : #78a2dd;
	background : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_blue.dummy.dummy.dummy.oddcell[status=mouseover]
{
	color : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_yellow.dummy.dummy.dummy.oddcell[status=mouseover]
{
	color : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_yellow.dummy.dummy.dummy[status=mouseover]
{
	color : #ab9f1b;
>>>>>>> 62f71c91ca4c9bb05c706aa9b70672fff3aa9b42
	background : #ffffff;
}
