
html, body
{
  position:absolute;
  width:100%;
  height:100%;
  font:12pt Verdana;

  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
}

div
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
  background-origin:padding-box;
  background-repeat:no-repeat;
  white-space : pre;
  -moz-user-select:-moz-none;
  -webkit-user-select:none;
  -webkit-touch-callout:none;
  -webkit-appearance:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  outline:none;  
}

table
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

input
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

img
{
  position:absolute;
  box-sizing:border-box;
}

textarea::-webkit-scrollbar { display: none; }


div.nexacontainer
{
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
}

.nexacontainer.nexartl
{ 
  right:0px;
}

div.nexacontainer.withvscroll
{
  right:14px;
}
.nexacontainer.nexartl.withvscroll
{
  left:14px;
}
div.nexacontainer.withhscroll
{
  bottom:14px;
}
div.nexacontainer.withbothscroll
{
  right:14px;
  bottom:14px;
}
.nexacontainer.nexartl.withbothscroll
{
  left:14px;
  bottom:14px;
}
div.nexalefttop
{
  left:0px;
  top:0px;
  background-repeat:no-repeat;
  background-position:left top;
  font-size:1px;
}
.nexalefttop.nexartl
{
  background-position:right top;
}
div.nexaleftbottom
{
  left:0px;
  bottom:0px;
  background-repeat:no-repeat;
  background-position:left bottom;
  font-size:1px;
}
.nexaleftbottom.nexartl
{
  background-position:right bottom;
}
div.nexarightbottom
{
  right:0px;
  bottom:0px;
  background-repeat:no-repeat;
  background-position:right bottom;
  font-size:1px;
}
.nexarightbottom.nexartl
{
  background-position:left bottom;
}
div.nexarighttop
{
  right:0px;
  top:0px;
  background-repeat:no-repeat;
  background-position:right top;
}
.nexarighttop.nexartl
{
  background-position:left top;
}
div.nexaedge
{
  width:100%;
  height:100%;
}
div.nexamodaloverlay
{
  width:100%;
  height:100%;
}
div.nexainnercontainer
{

}
div.nexatransform
{

}
div.nexacontentsbox
{
  position:relative;
  display:table-cell;
  background-position:left center;
  background-repeat:no-repeat;
  vertical-align:middle;
}
.nexacontentsbox.nexartl
{
  background-position:right center;
}
.nexatextitem
{
  position:relative;
  vertical-align:middle;
  white-space:inherit;
  word-wrap:inherit;
  word-break:inherit;
  text-decoration:inherit;
}
.nexaiconitem
{
  position:relative;
  vertical-align:middle;
  background-position:center center;
  background-repeat:no-repeat;
}
.nexainput
{
  font:inherit;
  color:inherit;
  cursor:inherit;
  letter-spacing:inherit;
  word-spacing:inherit;
  border:none;
  outline:none;
  background:transparent;
  padding : 0px;  
}
.nexatextarea
{
  font:inherit;
  color:inherit;
  cursor:inherit;
  line-height : inherit;
  letter-spacing:inherit;
  word-spacing:inherit;
  white-space:pre;
  word-wrap:normal;
  border:none;
  outline:none;
  resize:none;
  background:transparent;
  padding : 0px;
  box-sizing:border-box;		
}
div.nexaleftalign, input.nexaleftalign
{
  text-align:left;
}
.nexaleftalign.nexartl
{
  text-align:right;
}
div.nexarightalign, input.nexarightalign
{
  text-align:right;
}
.nexarightalign.nexartl
{
  text-align:left;
}
div.nexacenteralign,input.nexacenteralign
{
  text-align:center;
}
div.nexamap div *
{
  overflow:visible;
}

div.ProgressBar, div.ProgressBarControl
{
  
}

div.celltreeline
{
  border : 1px dotted #999999;
}

div.Edit, div.MaskEdit, div.TextArea, div.EditControl, div.MaskEditControl, div.TextAreaControl
{
  cursor:text;
}
div.Button .nexacontentsbox, div.ButtonControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}
div.FileDownload  .nexacontentsbox, div.FileDownloadControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}
div.IconTextControl .nexacontentsbox, div.IconControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}
div.DatePickerDayItemControl .nexacontentsbox, div.DatePickerWeekItemControl .nexacontentsbox, div.TitleBarButtonControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

div.Sketch .nexacontentsbox
{
  text-align:center;
}

div.MainFrame, div.VScrollBarControl, div.HScrollBarControl
{
  cursor:default;
}

div.Grid .body .row .cell.Expr_red.dummy.dummy.dummy
{
	background : #d23636;
	color : #ffffff;
}
div.Grid .body .row .cell.Expr_red.dummy.dummy.dummy.oddcell
{
<<<<<<< HEAD
	background : #e82639;
	color : whitesmoke;
}
.Grid .body .row .cell.Expr_red.dummy.dummy.dummy.oddcell
=======
	background : #d23636;
}
.Grid.nexartl .body .row .cell.Expr_red
{
	background : #d23636;
}
.Grid.nexartl .body .row .cell.Expr_red.oddcell
{
	background : #d23636;
}
div.Grid .body .row .cell.Expr_blue.dummy.dummy.dummy
{
	background : #78a2dd;
	color : #ffffff;
}
div.Grid .body .row .cell.Expr_blue.dummy.dummy.dummy.oddcell
{
	background : #78a2dd;
}
.Grid.nexartl .body .row .cell.Expr_blue
{
	background : #78a2dd;
}
.Grid.nexartl .body .row .cell.Expr_blue.oddcell
{
	background : #78a2dd;
}
div.Grid .body .row .cell.Expr_yellow.dummy.dummy.dummy
{
	background : #ab9f1b;
	color : #ffffff;
}
div.Grid .body .row .cell.Expr_yellow.dummy.dummy.dummy.oddcell
{
	color : #ab9f1b;
}
.Grid.nexartl .body .row .cell.Expr_yellow
{
	background : #ab9f1b;
}
div#nexacontainer .Grid .body .row .cell.Expr_red.dummy.dummy.dummy[status=mouseover]
{
	color : #d23636;
	background : #ffffff;
}
div#nexacontainer .Grid .body .row .cell.Expr_red.dummy.dummy.dummy.oddcell[status=mouseover]
{
	background : #ffffff;
}
.Grid.nexartl .body .row .cell.Expr_red[status=mouseover]
{
	background : #ffffff;
}
.Grid.nexartl .body .row .cell.Expr_red.oddcell[status=mouseover]
{
	background : #ffffff;
}
div#nexacontainer .Grid .body .row .cell.Expr_blue.dummy.dummy.dummy[status=mouseover]
{
	color : #78a2dd;
	background : #ffffff;
}
div#nexacontainer .Grid .body .row .cell.Expr_blue.dummy.dummy.dummy.oddcell[status=mouseover]
{
	color : #ffffff;
}
.Grid.nexartl .body .row .cell.Expr_blue[status=mouseover]
{
<<<<<<< HEAD
	background : #ffffff;
=======
	background : #d23636;
	color : #ffffff;
>>>>>>> 71d706ee529c657b1053be2fa03cb7259ac57a05
}
div#nexacontainer .Grid .body .row .cell.Expr_yellow.dummy.dummy.dummy.oddcell[status=mouseover]
{
<<<<<<< HEAD
	color : #ffffff;
=======
	background : #d23636;
>>>>>>> 71d706ee529c657b1053be2fa03cb7259ac57a05
}
div#nexacontainer .Grid .body .row .cell.Expr_yellow.dummy.dummy.dummy[status=mouseover]
{
<<<<<<< HEAD
	color : #ab9f1b;
	background : #ffffff;
=======
	background : #78a2dd;
	color : #ffffff;
>>>>>>> 71d706ee529c657b1053be2fa03cb7259ac57a05
}
.Grid.nexartl .body .row .cell.Expr_yellow[status=mouseover]
{
<<<<<<< HEAD
=======
	background : #78a2dd;
}
.Grid .body .row .cell.Expr_yellow.dummy.dummy.dummy
{
	background : #ab9f1b;
	color : #ffffff;
}
.Grid .body .row .cell.Expr_yellow.dummy.dummy.dummy.oddcell
{
	color : #ab9f1b;
}
#nexacontainer .Grid .body .row .cell.Expr_red.dummy.dummy.dummy[status=mouseover]
{
	color : #d23636;
	background : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_red.dummy.dummy.dummy.oddcell[status=mouseover]
{
	background : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_blue.dummy.dummy.dummy[status=mouseover]
{
	color : #78a2dd;
	background : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_blue.dummy.dummy.dummy.oddcell[status=mouseover]
{
	color : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_yellow.dummy.dummy.dummy.oddcell[status=mouseover]
>>>>>>> 71d706ee529c657b1053be2fa03cb7259ac57a05
{
	background : #e82639;
}
<<<<<<< HEAD
.Grid .body .row .cell.Expr_blue.dummy.dummy.dummy
=======
#nexacontainer .Grid .body .row .cell.Expr_yellow.dummy.dummy.dummy[status=mouseover]
>>>>>>> 71d706ee529c657b1053be2fa03cb7259ac57a05
{
<<<<<<< HEAD
	background : #3c76e0;
	color : whitesmoke;
}
<<<<<<< HEAD
.Grid .body .row .cell.Expr_blue.dummy.dummy.dummy.oddcell
{
	background : #3c76e0;
=======
	color : #ab9f1b;
>>>>>>> 71d706ee529c657b1053be2fa03cb7259ac57a05
	background : #ffffff;
>>>>>>> 8b18df95b1e6c426104479a922c1cd1a44029522
}
=======
>>>>>>> 71d706ee529c657b1053be2fa03cb7259ac57a05
