
        
* .nexainput.nexaleftalign
{
  text-align:left;
}
.nexainput.nexartl.nexaleftalign
{
  text-align:right;
}
* .nexainput.nexarightalign
{
  text-align:right;
}
.nexainput.nexartl.nexarightalign
{
  text-align:left;
}
* .nexainput.nexacenteralign
{
  text-align:center;
}
* .nexacontentsbox.nexaleftalign
{
  text-align:left;
}
.nexacontentsbox.nexartl.nexaleftalign
{
  text-align:right;
}
* .nexacontentsbox.nexarightalign
{
  text-align:right;
}
.nexacontentsbox.nexartl.nexarightalign
{
  text-align:left;
}
* .nexacontentsbox.nexacenteralign
{
  text-align:center;
}
* .celltreeline
{
  border : 1px dotted #999999;
}
* .Edit, * .MaskEdit, * .TextArea, * .EditControl, * .MaskEditControl, * .TextAreaControl
{
  cursor:text;
}
* .Button .nexacontentsbox, * .ButtonControl .nexacontentsbox
{
  text-align:center;
}

* .FileDownload  .nexacontentsbox, * .FileDownloadControl .nexacontentsbox
{
  text-align:center;
}

* .IconTextControl .nexacontentsbox, * .IconControl .nexacontentsbox
{
  text-align:center;
}

* .DatePickerDayItemControl .nexacontentsbox, * .DatePickerWeekItemControl .nexacontentsbox, * .TitleBarButtonControl .nexacontentsbox
{
  text-align:center;
}

* .Sketch .nexacontentsbox
{
  text-align:center;
}

* .MainFrame, * .VScrollBarControl, * .HScrollBarControl
{
  cursor:default;
}
.nexainput
{
  cursor:inherit;
}

* .Grid .body .row .cell.Expr_red
{
	background : #d23636;
	color : #ffffff;
}
* .Grid .body .row .cell.Expr_red.oddcell
{
	background : #d23636;
}
.Grid.nexartl .body .row .cell.Expr_red
{
	background : #d23636;
}
.Grid.nexartl .body .row .cell.Expr_red.oddcell
{
	background : #d23636;
}
* .Grid .body .row .cell.Expr_blue
{
	background : #78a2dd;
	color : #ffffff;
}
* .Grid .body .row .cell.Expr_blue.oddcell
{
	background : #78a2dd;
}
.Grid.nexartl .body .row .cell.Expr_blue
{
	background : #78a2dd;
}
.Grid.nexartl .body .row .cell.Expr_blue.oddcell
{
	background : #78a2dd;
}
* .Grid .body .row .cell.Expr_yellow
{
	background : #ab9f1b;
	color : #ffffff;
}
* .Grid .body .row .cell.Expr_yellow.oddcell
{
	background : #ab9f1b;
}
.Grid.nexartl .body .row .cell.Expr_yellow
{
	background : #ab9f1b;
}
.Grid.nexartl .body .row .cell.Expr_yellow.oddcell
{
	background : #ab9f1b;
}
* .Grid .body .row .cell.Expr_green
{
	background : #6ebe8e;
	color : #ffffff;
}
* .Grid .body .row .cell.Expr_green.oddcell
{
	background : #6ebe8e;
}
.Grid.nexartl .body .row .cell.Expr_green
{
	background : #6ebe8e;
}
.Grid.nexartl .body .row .cell.Expr_green.oddcell
{
	background : #6ebe8e;
}
* .Grid .body .row .cell.Expr_red[status=mouseover]
{
	color : #d23636;
	background : #ffffff;
}
* .Grid .body .row .cell.Expr_red.oddcell[status=mouseover]
{
	background : #ffffff;
}
.Grid.nexartl .body .row .cell.Expr_red[status=mouseover]
{
	background : #ffffff;
}
.Grid.nexartl .body .row .cell.Expr_red.oddcell[status=mouseover]
{
	background : #ffffff;
}
* .Grid .body .row .cell.Expr_blue[status=mouseover]
{
	color : #78a2dd;
	background : #ffffff;
}
* .Grid .body .row .cell.Expr_blue.oddcell[status=mouseover]
{
	color : #ffffff;
}
.Grid.nexartl .body .row .cell.Expr_blue[status=mouseover]
{
	background : #ffffff;
}
* .Grid .body .row .cell.Expr_yellow[status=mouseover]
{
	color : #ab9f1b;
	background : #ffffff;
}
* .Grid .body .row .cell.Expr_yellow.oddcell[status=mouseover]
{
	background : #ffffff;
}
.Grid.nexartl .body .row .cell.Expr_yellow[status=mouseover]
{
	background : #ffffff;
}
.Grid.nexartl .body .row .cell.Expr_yellow.oddcell[status=mouseover]
{
	background : #ffffff;
}
* .Grid .body .row .cell.Expr_green[status=mouseover]
{
	color : #6ebe8e;
	background : #ffffff;
}
* .Grid .body .row .cell.Expr_green.oddcell[status=mouseover]
{
	background : #ffffff;
}
.Grid.nexartl .body .row .cell.Expr_green[status=mouseover]
{
	background : #ffffff;
}
.Grid.nexartl .body .row .cell.Expr_green.oddcell[status=mouseover]
{
	background : #ffffff;
}
* .Grid .body .row .cell.Expr_green[userstatus=selected]
{
	color : #6ebe8e;
	background : #ffffff;
}
* .Grid .body .row .cell.Expr_green.oddcell[userstatus=selected]
{
	background : #ffffff;
}
.Grid.nexartl .body .row .cell.Expr_green[userstatus=selected]
{
	background : #ffffff;
}
.Grid.nexartl .body .row .cell.Expr_green.oddcell[userstatus=selected]
{
	background : #ffffff;
}
* .Grid .body .row .cell.Expr_yellow[userstatus=selected]
{
	background : #ab9f1b;
	color : #ffffff;
}
* .Grid .body .row .cell.Expr_yellow.oddcell[userstatus=selected]
{
	background : #ab9f1b;
}
.Grid.nexartl .body .row .cell.Expr_yellow[userstatus=selected]
{
	background : #ab9f1b;
}
.Grid.nexartl .body .row .cell.Expr_yellow.oddcell[userstatus=selected]
{
	background : #ab9f1b;
}
* .Grid .body .row .cell.Expr_blue[userstatus=selected]
{
	color : #78a2dd;
	background : #ffffff;
}
* .Grid .body .row .cell.Expr_blue.oddcell[userstatus=selected]
{
	color : #ffffff;
}
.Grid.nexartl .body .row .cell.Expr_blue[userstatus=selected]
{
	background : #ffffff;
}
* .Grid .body .row .cell.Expr_red[userstatus=selected]
{
	color : #d23636;
	background : #ffffff;
}
* .Grid .body .row .cell.Expr_red.oddcell[userstatus=selected]
{
	background : #ffffff;
}
.Grid.nexartl .body .row .cell.Expr_red[userstatus=selected]
{
	background : #ffffff;
}
.Grid.nexartl .body .row .cell.Expr_red.oddcell[userstatus=selected]
{
	background : #ffffff;
}
