
@media screen and (min-width:0\0) and (-ms-high-contrast: active) 
{ 
.nexacontentsbox {-ms-high-contrast-adjust:none; } 
} 

html, body
{
  position:absolute;
  width:100%;
  height:100%;  
  font:12pt Verdana;
}

div
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
  background-origin:padding-box;
  background-repeat:no-repeat;
  white-space : pre;
  -ms-user-select:none;
  -moz-user-select:-moz-none;
  -webkit-user-select:none;
  -webkit-touch-callout:none;
  -webkit-appearance:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  outline:none;
}

table
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

input
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

img
{
  position:absolute;
  box-sizing:border-box;
}

input::-ms-clear,input::-ms-reveal
{
  display: none;
}


.nexacontainer
{
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
}
.nexacontainer.withvscroll
{
  right:14px;
}
.nexacontainer.withhscroll
{
  bottom:14px;
}
.nexacontainer.withbothscroll
{
  right:14px;
  bottom:14px;
}

.nexalefttop
{
  left:0px;
  top:0px;
  background-repeat:no-repeat;
  background-position:left top;
  font-size:1px;
}
.nexaleftbottom
{
  left:0px;
  bottom:0px;
  background-repeat:no-repeat;
  background-position:left bottom;
  font-size:1px;
}
.nexarightbottom
{
  right:0px;
  bottom:0px;
  background-repeat:no-repeat;
  background-position:right bottom;
  font-size:1px;
}
.nexarighttop
{
  right:0px;
  top:0px;
  background-repeat:no-repeat;
  background-position:right top;
}
.nexaedge
{
  width:100%;
  height:100%;
}
.nexamodaloverlay
{
  width:100%;
  height:100%;
}
.nexainnercontainer
{
  transform : translate3d(0px, 0px, 0);
}

.nexatransform
{
  transform : translate3d(0px, 0px, 0);
}

.nexacontentsbox
{
  position:relative;
  display:table-cell;
  background-position:left center;
  background-repeat:no-repeat;
  vertical-align:middle;
  pointer-events:none;
}
.nexatextitem
{
  position:relative;
  vertical-align:middle;
  white-space:inherit;
  word-wrap:inherit;
  word-break:inherit;
  text-decoration:inherit;
}
.nexaiconitem
{
  position:relative;
  vertical-align:middle;
  background-position:center center;
  background-repeat:no-repeat;
}

.nexainput
{
  font:inherit;
  color:inherit;
  cursor:inherit;
  letter-spacing:inherit;
  word-spacing:inherit;
  border:none;
  outline:none;
  background:transparent;
  padding : 0px;
}

.nexatextarea
{
  font:inherit;
  color:inherit;
  cursor:inherit;
  line-height : inherit;
  letter-spacing:inherit;
  word-spacing:inherit;
  white-space:pre;
  word-wrap:normal;
  border:none;
  outline:none;
  resize:none;
  background:transparent;
  padding : 0px;
  box-sizing:border-box;		
}

.nexaleftalign
{
  text-align:left;
}

.nexarightalign
{
  text-align:right;
}

.nexacenteralign
{
  text-align:center;
}

.nexamap div *
{
  overflow:visible;
}

.nexanativescroll
{
  overflow:scroll;
  -ms-overflow-style:none;
  color:black;
}

.celltreeline
{
  border : 1px dotted #999999;
}

.Edit, .MaskEdit, .TextArea, .EditControl, .MaskEditControl, .TextAreaControl
{
  cursor:text;
}
.Button .nexacontentsbox, .ButtonControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.FileDownload  .nexacontentsbox, .FileDownloadControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.IconTextControl .nexacontentsbox, .IconControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.DatePickerDayItemControl .nexacontentsbox, .DatePickerWeekItemControl .nexacontentsbox, .TitleBarButtonControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.Sketch .nexacontentsbox
{
   text-align:center;
}

.MainFrame, .VScrollBarControl, .HScrollBarControl
{
  cursor:default;
}

.Grid .body .row .cell.Expr_red.dummy.dummy.dummy
{
	background : #d23636;
	color : #ffffff;
}
.Grid .body .row .cell.Expr_red.dummy.dummy.dummy.oddcell
{
	background : #d23636;
}
.Grid .body .row .cell.Expr_blue.dummy.dummy.dummy
{
	background : #78a2dd;
	color : #ffffff;
}
.Grid .body .row .cell.Expr_blue.dummy.dummy.dummy.oddcell
{
	background : #78a2dd;
}
.Grid .body .row .cell.Expr_yellow.dummy.dummy.dummy
{
	background : #ab9f1b;
	color : #ffffff;
}
.Grid .body .row .cell.Expr_yellow.dummy.dummy.dummy.oddcell
{
	background : #ab9f1b;
}
.Grid .body .row .cell.Expr_green.dummy.dummy.dummy
{
	background : #6ebe8e;
	color : #ffffff;
}
.Grid .body .row .cell.Expr_green.dummy.dummy.dummy.oddcell
{
	background : #6ebe8e;
}
#nexacontainer .Grid .body .row .cell.Expr_red.dummy.dummy.dummy[status=mouseover]
{
	color : #d23636;
	background : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_red.dummy.dummy.dummy.oddcell[status=mouseover]
{
	background : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_blue.dummy.dummy.dummy[status=mouseover]
{
	color : #78a2dd;
	background : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_blue.dummy.dummy.dummy.oddcell[status=mouseover]
{
	color : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_yellow.dummy.dummy.dummy[status=mouseover]
{
	color : #ab9f1b;
	background : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_yellow.dummy.dummy.dummy.oddcell[status=mouseover]
{
	background : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_green.dummy.dummy.dummy[status=mouseover]
{
	color : #6ebe8e;
	background : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_green.dummy.dummy.dummy.oddcell[status=mouseover]
{
	background : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_red.dummy.dummy.dummy[status=focused]
{
	background : #d23636;
	color : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_red.dummy.dummy.dummy.oddcell[status=focused]
{
	background : #d23636;
}
#nexacontainer .Grid .body .row .cell.Expr_red.dummy.dummy.dummy[status=readonly]
{
	background : #d23636;
	color : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_red.dummy.dummy.dummy.oddcell[status=readonly]
{
	background : #d23636;
}
#nexacontainer .Grid .body .row .cell.Expr_blue.dummy.dummy.dummy[status=focused]
{
	background : #78a2dd;
	color : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_blue.dummy.dummy.dummy.oddcell[status=focused]
{
	background : #78a2dd;
}
#nexacontainer .Grid .body .row .cell.Expr_blue.dummy.dummy.dummy[status=readonly]
{
	background : #78a2dd;
	color : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_blue.dummy.dummy.dummy.oddcell[status=readonly]
{
	background : #78a2dd;
}
#nexacontainer .Grid .body .row .cell.Expr_yellow.dummy.dummy.dummy[status=focused]
{
	background : #ab9f1b;
	color : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_yellow.dummy.dummy.dummy.oddcell[status=focused]
{
	background : #ab9f1b;
}
#nexacontainer .Grid .body .row .cell.Expr_yellow.dummy.dummy.dummy[status=readonly]
{
	background : #ab9f1b;
	color : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_yellow.dummy.dummy.dummy.oddcell[status=readonly]
{
	background : #ab9f1b;
}
#nexacontainer .Grid .body .row .cell.Expr_green.dummy.dummy.dummy[userstatus=selected]
{
	color : #6ebe8e;
	background : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_green.dummy.dummy.dummy.oddcell[userstatus=selected]
{
	background : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_yellow.dummy.dummy.dummy[userstatus=selected]
{
	background : #ab9f1b;
	color : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_yellow.dummy.dummy.dummy.oddcell[userstatus=selected]
{
	background : #ab9f1b;
}
#nexacontainer .Grid .body .row .cell.Expr_blue.dummy.dummy.dummy[userstatus=selected]
{
	color : #78a2dd;
	background : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_blue.dummy.dummy.dummy.oddcell[userstatus=selected]
{
	color : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_red.dummy.dummy.dummy[userstatus=selected]
{
	color : #d23636;
	background : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_red.dummy.dummy.dummy.oddcell[userstatus=selected]
{
	background : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_red.dummy.dummy.dummy[status=disabled]
{
	background : #d23636;
	color : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_red.dummy.dummy.dummy.oddcell[status=disabled]
{
	background : #d23636;
}
#nexacontainer .Grid .body .row .cell.Expr_blue.dummy.dummy.dummy[status=disabled]
{
	background : #78a2dd;
	color : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_blue.dummy.dummy.dummy.oddcell[status=disabled]
{
	background : #78a2dd;
}
#nexacontainer .Grid .body .row .cell.Expr_yellow.dummy.dummy.dummy[status=disabled]
{
	background : #ab9f1b;
	color : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_yellow.dummy.dummy.dummy.oddcell[status=disabled]
{
	background : #ab9f1b;
}
#nexacontainer .Grid .body .row .cell.Expr_red.dummy.dummy.dummy[userstatus=selected][status=disabled]
{
	background : #d23636;
	color : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_red.dummy.dummy.dummy.oddcell[userstatus=selected][status=disabled]
{
	background : #d23636;
}
#nexacontainer .Grid .body .row .cell.Expr_red.dummy.dummy.dummy[userstatus=selected][status=focused]
{
	background : #d23636;
	color : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_red.dummy.dummy.dummy.oddcell[userstatus=selected][status=focused]
{
	background : #d23636;
}
#nexacontainer .Grid .body .row .cell.Expr_red.dummy.dummy.dummy[userstatus=selected][status=readonly]
{
	background : #d23636;
	color : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_red.dummy.dummy.dummy.oddcell[userstatus=selected][status=readonly]
{
	background : #d23636;
}
#nexacontainer .Grid .body .row .cell.Expr_blue.dummy.dummy.dummy[userstatus=selected][status=disabled]
{
	background : #78a2dd;
	color : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_blue.dummy.dummy.dummy.oddcell[userstatus=selected][status=disabled]
{
	background : #78a2dd;
}
#nexacontainer .Grid .body .row .cell.Expr_blue.dummy.dummy.dummy[userstatus=selected][status=focused]
{
	background : #78a2dd;
	color : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_blue.dummy.dummy.dummy.oddcell[userstatus=selected][status=focused]
{
	background : #78a2dd;
}
#nexacontainer .Grid .body .row .cell.Expr_blue.dummy.dummy.dummy[userstatus=selected][status=readonly]
{
	background : #78a2dd;
	color : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_blue.dummy.dummy.dummy.oddcell[userstatus=selected][status=readonly]
{
	background : #78a2dd;
}
#nexacontainer .Grid .body .row .cell.Expr_yellow.dummy.dummy.dummy[userstatus=selected][status=disabled]
{
	background : #ab9f1b;
	color : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_yellow.dummy.dummy.dummy.oddcell[userstatus=selected][status=disabled]
{
	background : #ab9f1b;
}
#nexacontainer .Grid .body .row .cell.Expr_yellow.dummy.dummy.dummy[userstatus=selected][status=focused]
{
	background : #ab9f1b;
	color : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_yellow.dummy.dummy.dummy.oddcell[userstatus=selected][status=focused]
{
	background : #ab9f1b;
}
#nexacontainer .Grid .body .row .cell.Expr_yellow.dummy.dummy.dummy[userstatus=selected][status=readonly]
{
	background : #ab9f1b;
	color : #ffffff;
}
#nexacontainer .Grid .body .row .cell.Expr_yellow.dummy.dummy.dummy.oddcell[userstatus=selected][status=readonly]
{
	background : #ab9f1b;
}
