
        
.nexainput.nexaleftalign
{
  text-align:left;
}
.nexainput.nexarightalign
{
  text-align:right;
}
.nexainput.nexacenteralign
{
  text-align:center;
}

.nexacontentsbox.nexaleftalign
{
  text-align:left;
}
.nexacontentsbox.nexarightalign
{
  text-align:right;
}
.nexacontentsbox.nexacenteralign
{
  text-align:center;
}
.celltreeline
{
  border : 1px dotted #999999;
}
.Edit, .MaskEdit, .TextArea, .EditControl, .MaskEditControl, .TextAreaControl
{
  cursor:text;
}
.Button .nexacontentsbox, .ButtonControl .nexacontentsbox
{
  text-align:center;
}

.FileDownload  .nexacontentsbox, .FileDownloadControl .nexacontentsbox
{
  text-align:center;
}

.IconTextControl .nexacontentsbox, .IconControl .nexacontentsbox
{
  text-align:center;
}

.DatePickerDayItemControl .nexacontentsbox, .DatePickerWeekItemControl .nexacontentsbox, .TitleBarButtonControl .nexacontentsbox
{
  text-align:center;
}

.MainFrame, .VScrollBarControl, .HScrollBarControl
{
  cursor:default;
}

.Sketch .nexacontentsbox
{
   text-align:center;
}

.nexainput
{
  cursor:inherit;
}

.Grid .body .row .cell.Expr_red
{
	background : #d23636;
	color : #ffffff;
}
.Grid .body .row .cell.Expr_red.oddcell
{
	background : #d23636;
}
.Grid .body .row .cell.Expr_blue
{
	background : #78a2dd;
	color : #ffffff;
}
.Grid .body .row .cell.Expr_blue.oddcell
{
	background : #78a2dd;
}
.Grid .body .row .cell.Expr_yellow
{
	background : #ab9f1b;
	color : #ffffff;
}
.Grid .body .row .cell.Expr_yellow.oddcell
{
	background : #ab9f1b;
}
.Grid .body .row .cell.Expr_green
{
	background : #6ebe8e;
	color : #ffffff;
}
.Grid .body .row .cell.Expr_green.oddcell
{
	background : #6ebe8e;
}
.Grid .body .row .cell.Expr_red[status=mouseover]
{
	color : #d23636;
	background : #ffffff;
}
.Grid .body .row .cell.Expr_red.oddcell[status=mouseover]
{
	background : #ffffff;
}
.Grid .body .row .cell.Expr_blue[status=mouseover]
{
	color : #78a2dd;
	background : #ffffff;
}
.Grid .body .row .cell.Expr_blue.oddcell[status=mouseover]
{
	color : #ffffff;
}
.Grid .body .row .cell.Expr_yellow[status=mouseover]
{
	color : #ab9f1b;
	background : #ffffff;
}
.Grid .body .row .cell.Expr_yellow.oddcell[status=mouseover]
{
	background : #ffffff;
}
.Grid .body .row .cell.Expr_green[status=mouseover]
{
	color : #6ebe8e;
	background : #ffffff;
}
.Grid .body .row .cell.Expr_green.oddcell[status=mouseover]
{
	background : #ffffff;
}
.Grid .body .row .cell.Expr_red[status=focused]
{
	background : #d23636;
	color : #ffffff;
}
.Grid .body .row .cell.Expr_red.oddcell[status=focused]
{
	background : #d23636;
}
.Grid .body .row .cell.Expr_red[status=readonly]
{
	background : #d23636;
	color : #ffffff;
}
.Grid .body .row .cell.Expr_red.oddcell[status=readonly]
{
	background : #d23636;
}
.Grid .body .row .cell.Expr_blue[status=focused]
{
	background : #78a2dd;
	color : #ffffff;
}
.Grid .body .row .cell.Expr_blue.oddcell[status=focused]
{
	background : #78a2dd;
}
.Grid .body .row .cell.Expr_blue[status=readonly]
{
	background : #78a2dd;
	color : #ffffff;
}
.Grid .body .row .cell.Expr_blue.oddcell[status=readonly]
{
	background : #78a2dd;
}
.Grid .body .row .cell.Expr_yellow[status=focused]
{
	background : #ab9f1b;
	color : #ffffff;
}
.Grid .body .row .cell.Expr_yellow.oddcell[status=focused]
{
	background : #ab9f1b;
}
.Grid .body .row .cell.Expr_yellow[status=readonly]
{
	background : #ab9f1b;
	color : #ffffff;
}
.Grid .body .row .cell.Expr_yellow.oddcell[status=readonly]
{
	background : #ab9f1b;
}
.Grid .body .row .cell.Expr_green[userstatus=selected]
{
	color : #6ebe8e;
	background : #ffffff;
}
.Grid .body .row .cell.Expr_green.oddcell[userstatus=selected]
{
	background : #ffffff;
}
.Grid .body .row .cell.Expr_yellow[userstatus=selected]
{
	background : #ab9f1b;
	color : #ffffff;
}
.Grid .body .row .cell.Expr_yellow.oddcell[userstatus=selected]
{
	background : #ab9f1b;
}
.Grid .body .row .cell.Expr_blue[userstatus=selected]
{
	color : #78a2dd;
	background : #ffffff;
}
.Grid .body .row .cell.Expr_blue.oddcell[userstatus=selected]
{
	color : #ffffff;
}
.Grid .body .row .cell.Expr_red[userstatus=selected]
{
	color : #d23636;
	background : #ffffff;
}
.Grid .body .row .cell.Expr_red.oddcell[userstatus=selected]
{
	background : #ffffff;
}
.Grid .body .row .cell.Expr_red[status=disabled]
{
	background : #d23636;
	color : #ffffff;
}
.Grid .body .row .cell.Expr_red.oddcell[status=disabled]
{
	background : #d23636;
}
.Grid .body .row .cell.Expr_blue[status=disabled]
{
	background : #78a2dd;
	color : #ffffff;
}
.Grid .body .row .cell.Expr_blue.oddcell[status=disabled]
{
	background : #78a2dd;
}
.Grid .body .row .cell.Expr_yellow[status=disabled]
{
	background : #ab9f1b;
	color : #ffffff;
}
.Grid .body .row .cell.Expr_yellow.oddcell[status=disabled]
{
	background : #ab9f1b;
}
.Grid .body .row .cell.Expr_red[userstatus=selected][status=disabled]
{
	background : #d23636;
	color : #ffffff;
}
.Grid .body .row .cell.Expr_red.oddcell[userstatus=selected][status=disabled]
{
	background : #d23636;
}
.Grid .body .row .cell.Expr_red[userstatus=selected][status=focused]
{
	background : #d23636;
	color : #ffffff;
}
.Grid .body .row .cell.Expr_red.oddcell[userstatus=selected][status=focused]
{
	background : #d23636;
}
.Grid .body .row .cell.Expr_red[userstatus=selected][status=readonly]
{
	background : #d23636;
	color : #ffffff;
}
.Grid .body .row .cell.Expr_red.oddcell[userstatus=selected][status=readonly]
{
	background : #d23636;
}
.Grid .body .row .cell.Expr_blue[userstatus=selected][status=disabled]
{
	background : #78a2dd;
	color : #ffffff;
}
.Grid .body .row .cell.Expr_blue.oddcell[userstatus=selected][status=disabled]
{
	background : #78a2dd;
}
.Grid .body .row .cell.Expr_blue[userstatus=selected][status=focused]
{
	background : #78a2dd;
	color : #ffffff;
}
.Grid .body .row .cell.Expr_blue.oddcell[userstatus=selected][status=focused]
{
	background : #78a2dd;
}
.Grid .body .row .cell.Expr_blue[userstatus=selected][status=readonly]
{
	background : #78a2dd;
	color : #ffffff;
}
.Grid .body .row .cell.Expr_blue.oddcell[userstatus=selected][status=readonly]
{
	background : #78a2dd;
}
.Grid .body .row .cell.Expr_yellow[userstatus=selected][status=disabled]
{
	background : #ab9f1b;
	color : #ffffff;
}
.Grid .body .row .cell.Expr_yellow.oddcell[userstatus=selected][status=disabled]
{
	background : #ab9f1b;
}
.Grid .body .row .cell.Expr_yellow[userstatus=selected][status=focused]
{
	background : #ab9f1b;
	color : #ffffff;
}
.Grid .body .row .cell.Expr_yellow.oddcell[userstatus=selected][status=focused]
{
	background : #ab9f1b;
}
.Grid .body .row .cell.Expr_yellow[userstatus=selected][status=readonly]
{
	background : #ab9f1b;
	color : #ffffff;
}
.Grid .body .row .cell.Expr_yellow.oddcell[userstatus=selected][status=readonly]
{
	background : #ab9f1b;
}
