<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Admin">
<select resultType="kh.spring.dto.StudentsDTO" id="studentlist">
	select * from students
</select>
<!-- students -->
<delete id="deletestu">
	delete from students where s_seq in
	<foreach item="i" collection="list" open="(" close=")" separator=",">
	#{i.s_seq}
	</foreach>
</delete>
<update id="updatestu">
	<foreach collection="list" item="i" separator=";" open="DECLARE BEGIN" close="; END;">
		update students set name = #{i.name}, email= #{i.email},
		contact=#{i.contact}, address=#{i.address}, scholarship=#{i.scholarship}, rest=#{i.rest}, grade=#{i.grade}
		,gender=#{i.gender},deptcode=#{i.deptCode},colcode=#{i.colCode},secNumber=#{i.secNumber}
		where s_seq = #{i.s_seq}
	</foreach>
</update>
<insert id="insertstu">
	insert into students 
	values(#{s_seq},#{name},#{email},#{contact},#{address},#{scholarship},#{rest},#{grade},#{pw},#{gender},#{deptCode},#{colCode},#{colGrade},#{secNumber})
</insert>
<select id="selectstu" resultType="int">
	select count(*) from students where s_seq = #{s_seq}
</select>
<select id="selectS_seq" resultType="kh.spring.dto.StudentsDTO">
	select * from students where s_seq like '%001'
</select>
<select id="lastNum" resultType="int">
	select * from(select s_seq from students order by ROWNUM DESC) where rownum = 1 and s_seq like '%'||#{s_seq}||'%'
</select>
<!-- professor -->

<select id="professorList" resultType="kh.spring.dto.ProfessorDTO">
	select * from professor
</select>
<delete id="deletePro">
	delete from professor where p_seq in
	<foreach item="i" collection="list" open="(" close=")" separator=",">
	#{i.p_seq}
	</foreach>
</delete>
<insert id="insertPro">
	insert into professor
	values(#{p_seq},#{name},#{email},#{contact},#{address},#{pw},#{secNumber},#{colCode},#{deptCode},#{gender})
</insert>
<update id="updatePro">
	<foreach collection="list" item="i" separator=";" open="DECLARE BEGIN" close="; END;">
		update professor set name = #{i.name}, email= #{i.email},
		contact=#{i.contact}, address=#{i.address}, lecture=#{i.lecture}, secNumber=#{i.secNumber}, colCode=#{i.colCode},deptCode=#{i.deptCode}
		where p_seq = #{i.p_seq}
	</foreach>
</update>
<select id="selectP_seq" resultType="kh.spring.dto.ProfessorDTO">
	select * from professor where p_seq like '%001'
</select>
<select id="lastPNum" resultType="int">
	select * from (select p_seq from professor order by ROWNUM DESC) where rownum = 1 and p_seq like '%'||#{p_seq}||'%' 
</select>
<select id="selectpro" resultType="int">
	select count(*) from professor where p_seq = #{p_seq}
</select>

<!-- faculty -->
<select id="facultylist" resultType="kh.spring.dto.FacultyDTO">
	select * from faculty
</select>
<delete id="deleteFac">
	delete from faculty where f_seq in
	<foreach collection="list" item="i" open="(" close=")" separator=",">
	#{i.f_seq}
	</foreach>
</delete>
<update id="updateFac">
	<foreach collection="list" item="i" separator=";" open="DECLARE BEGIN" close="; END;">
		update faculty set name = #{i.name}, email= #{i.email},
		contact = #{i.contact}, address=#{i.address}, secNumber=#{i.secNumber}, colCode=#{i.colCode}, deptCode=#{i.deptCode} where f_seq = #{i.f_seq}
	</foreach>
</update>
<insert id="insertFac">
	<foreach collection="list" item="i" separator=" " open="insert All" close="select * from dual">
	into faculty(f_seq,name,email,contact,address,pw,secNumber,colCode,deptCode)
	values(#{i.f_seq},#{i.name},#{i.email},#{i.contact},#{i.address},#{i.pw},#{i.secNumber},#{i.colCode},#{i.deptCode})
	</foreach>
</insert>

</mapper>