<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Notice">
<insert id="insertNomal">
	insert into notice values (notice_seq.nextval,#{title},sysdate,#{contents},#{deptcode},0)
</insert>
<delete id="deleteNotice">
	delete from notice where n_seq = #{n_seq}
</delete>
<delete id="deleteNoticeFile">
	delete from noticefile where parentseq = #{n_seq}
</delete>
<select id="selectLastSeq" resultType="int">
	SELECT LAST_NUMBER FROM USER_SEQUENCES WHERE SEQUENCE_NAME = 'NOTICE_SEQ'
</select>
<select id="selectn_seq" resultType="int">
	select count(n_seq) from notice
</select>
<insert id="insertNoticeFile">
	insert into noticefile values (noticefile_seq.nextval,#{parentSeq},#{fileName},#{savedFileName},#{fileSize})
</insert>
<update id="updateNoticeFile">
	update noticefile set fileName = #{fileName}, savedFileName=#{savedFileName}, fileSize=#{fileSize} 
	where parentSeq = #{parentSeq}
</update>
<select id="selectNomalNotice" resultType="kh.spring.dto.NoticeDTO">
	select * from notice where deptcode = 'A' order by writedate
</select>
<select id="selectNomalNotice_Info" resultType="kh.spring.dto.NoticeDTO">
	select * from notice where n_seq = #{n_seq}
</select>
<select id="selectNomalNoticeFile" resultType="kh.spring.dto.NoticeFileDTO">
	select * from noticefile where parentseq = #{n_seq}
</select>
 <update id="updateNomalNotice">
	update notice set title = #{title}, writedate = sysdate , contents = #{contents}, deptcode = #{deptcode}
	 where n_seq = #{n_seq}
</update>
<!-- Scolar -->
<insert id="insertScolar">
	insert into notice values(notice_seq.nextval,#{title},#{writedate},#{contents},'Y')
</insert>
<select id="selectScolarNotice" resultType="kh.spring.dto.NoticeDTO">
	select * from notice where deptcode = 'B'
</select>
<!-- Bachelor -->
<select id="selectBachelorNotice" resultType="kh.spring.dto.NoticeDTO">
	select * from notice where deptcode = 'C'
</select>
<!-- Employ -->
<select id="selectEmployNotice" resultType="kh.spring.dto.NoticeDTO">
	select * from notice where deptcode = 'D'
</select>

	<select id="normalCount" resultType="int">
		select count(*) from notice
		where deptcode ='A'
	</select>
	<select id="selectNormalByPage"
		resultType="kh.spring.dto.NoticeDTO">
		select * from (select notice.*, row_number() over(order by
		writedate desc)
		rn from notice where deptcode ='A') where rn between
		#{startRowNum}
		and #{endRowNum}
	</select>
	<select id="searchNormalCount" resultType="int">
		select count(*) from notice where deptcode ='A'
		<if test="content != ''">
			<if test="category =='1'.toString()">
				and title like '%'||#{content}||'%'
			</if>
			<if test="category =='2'.toString()">
				and contents like '%'||#{content}||'%'
			</if>
			<if test="category =='3'.toString()">
				and contents like '%'||#{content}||'%' or deptcode ='A'and title like
				'%'||#{content}||'%'
			</if>
		</if>
	</select>
	<select id="searchNormalByPage"
		resultType="kh.spring.dto.NoticeDTO">
		select * from (select notice.*, row_number() over(order by writedate
		desc) rn from notice where deptcode ='A'
		<if test="content != ''">
			<if test="category =='1'.toString()">
				and title like '%'||#{content}||'%'
			</if>
			<if test="category =='2'.toString()">
				and contents like '%'||#{content}||'%'
			</if>
			<if test="category =='3'.toString()">
				and contents like '%'||#{content}||'%' or deptcode ='A'and title like
				'%'||#{content}||'%'
			</if>
		</if>
		) where rn between #{startRowNum} and #{endRowNum}
	</select>

	<select id="selectAcademicNotice"
		resultType="kh.spring.dto.NoticeDTO">
		select * from notice where deptcode ='B' order by writedate
	</select>
	<select id="academicCount" resultType="int">
		select count(*) from
		notice where deptcode ='B'
	</select>
	<select id="selectAcademicByPage"
		resultType="kh.spring.dto.NoticeDTO">
		select * from (select notice.*, row_number() over(order by
		writedate desc)
		rn from notice where deptcode ='B') where rn between
		#{startRowNum}
		and #{endRowNum}
	</select>
	<select id="searchAcademicCount" resultType="int">
		select count(*) from notice where deptcode ='B'
		<if test="content != ''">
			<if test="category =='1'.toString()">
				and title like '%'||#{content}||'%'
			</if>
			<if test="category =='2'.toString()">
				and contents like '%'||#{content}||'%'
			</if>
			<if test="category =='3'.toString()">
				and contents like '%'||#{content}||'%' or deptcode ='B'and title like
				'%'||#{content}||'%'
			</if>
		</if>
	</select>
	<select id="searchAcademicByPage"
		resultType="kh.spring.dto.NoticeDTO">
		select * from (select notice.*, row_number() over(order by writedate
		desc) rn from notice where deptcode ='B'
		<if test="content != ''">
			<if test="category =='1'.toString()">
				and title like '%'||#{content}||'%'
			</if>
			<if test="category =='2'.toString()">
				and contents like '%'||#{content}||'%'
			</if>
			<if test="category =='3'.toString()">
				and contents like '%'||#{content}||'%' or deptcode ='B'and title like
				'%'||#{content}||'%'
			</if>
		</if>
		) where rn between #{startRowNum} and #{endRowNum}
	</select>

	<select id="selectScholarNotice"
		resultType="kh.spring.dto.NoticeDTO">
		select * from notice where deptcode ='C' order by writedate
	</select>
	<select id="scholarCount" resultType="int">
		select count(*) from notice
		where deptcode ='C'
	</select>
	<select id="selectScholarByPage"
		resultType="kh.spring.dto.NoticeDTO">
		select * from (select notice.*, row_number() over(order by
		writedate desc)
		rn from notice where deptcode ='C') where rn between
		#{startRowNum}
		and #{endRowNum}
	</select>
	<select id="searchScholarCount" resultType="int">
		select count(*) from notice where deptcode ='C'
		<if test="content != ''">
			<if test="category =='1'.toString()">
				and title like '%'||#{content}||'%'
			</if>
			<if test="category =='2'.toString()">
				and contents like '%'||#{content}||'%'
			</if>
			<if test="category =='3'.toString()">
				and contents like '%'||#{content}||'%' or deptcode ='C'and title like
				'%'||#{content}||'%'
			</if>
		</if>
	</select>
	<select id="searchScholarByPage"
		resultType="kh.spring.dto.NoticeDTO">
		select * from (select notice.*, row_number() over(order by writedate
		desc) rn from notice where deptcode ='C'
		<if test="content != ''">
			<if test="category =='1'.toString()">
				and title like '%'||#{content}||'%'
			</if>
			<if test="category =='2'.toString()">
				and contents like '%'||#{content}||'%'
			</if>
			<if test="category =='3'.toString()">
				and contents like '%'||#{content}||'%' or deptcode ='C'and title like
				'%'||#{content}||'%'
			</if>
		</if>
		) where rn between #{startRowNum} and #{endRowNum}
	</select>

	<select id="selectEmploymentNotice"
		resultType="kh.spring.dto.NoticeDTO">
		select * from notice where deptcode ='D' order by writedate
	</select>
	<select id="employmentCount" resultType="int">
		select count(*) from
		notice where deptcode ='D'
	</select>
	<select id="selectEmploymentByPage"
		resultType="kh.spring.dto.NoticeDTO">
		select * from (select notice.*, row_number() over(order by
		writedate desc)
		rn from notice where deptcode ='D') where rn between
		#{startRowNum}
		and #{endRowNum}
	</select>
	<select id="searchEmploymentCount" resultType="int">
		select count(*) from notice where deptcode ='D'
		<if test="content != ''">
			<if test="category =='1'.toString()">
				and title like '%'||#{content}||'%'
			</if>
			<if test="category =='2'.toString()">
				and contents like '%'||#{content}||'%'
			</if>
			<if test="category =='3'.toString()">
				and contents like '%'||#{content}||'%' or deptcode ='D'and title like
				'%'||#{content}||'%'
			</if>
		</if>
	</select>
	<select id="searchEmploymentByPage"
		resultType="kh.spring.dto.NoticeDTO">
		select * from (select notice.*, row_number() over(order by writedate
		desc) rn from notice where deptcode ='D'
		<if test="content != ''">
			<if test="category =='1'.toString()">
				and title like '%'||#{content}||'%'
			</if>
			<if test="category =='2'.toString()">
				and contents like '%'||#{content}||'%'
			</if>
			<if test="category =='3'.toString()">
				and contents like '%'||#{content}||'%' or deptcode ='D' and title like
				'%'||#{content}||'%'
			</if>
		</if>
		) where rn between #{startRowNum} and #{endRowNum}
	</select>


	<select id="selectFileParentSeq"
		resultType="kh.spring.dto.NoticeFileDTO">
		select * from noticeFile where parentSeq = #{parentSeq}
	</select>
	<select id="selectFileSeq"
		resultType="kh.spring.dto.NoticeFileDTO">
		select * from noticeFile where f_seq = #{f_seq}
	</select>
	<select id="selectListSeq" resultType="kh.spring.dto.NoticeDTO">
		select * from notice where
		n_seq =#{n_seq}
	</select>
	<update id="view_countUpd">
		update notice set view_count = view_count+1 where
		n_seq =#{n_seq}
	</update>
	<select id="selectByParentSeq"
		resultType="kh.spring.dto.NoticeFileDTO">
		select * from noticeFile where parentseq=#{parentSeq}
	</select>
	<select id="selectFileAll"
		resultType="kh.spring.dto.NoticeFileDTO">
		select * from noticeFile
	</select>
	<select id="selectNoticeAll" resultType="kh.spring.dto.NoticeDTO">
		select * from (select notice.*, row_number() over(order by
		writedate desc)
		rn from notice) where rn between
		#{startRowNum}
		and #{endRowNum}
	</select>
	<select id="selectNoticeList" resultType="kh.spring.dto.NoticeDTO">
		select * from notice order by writedate desc
	</select>
</mapper>