<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Request">
<insert id="insert">
insert into requestboard values(requestboard_seq.nextval,#{title},#{contents},#{writer},sysdate,0,null)
</insert>
<update id="update">
update requestboard set title=#{title}, contents=#{contents} where seq = #{seq}
</update>
<update id="updateReply">
update requestboard set reply=#{reply} where seq = #{seq}
</update>

<delete id="delete">
delete from requestboard where seq = #{seq}
</delete>

<delete id="deleteList">
delete from requestboard where seq in
	<foreach separator="," close=")" open="(" item="i" collection="list">#{i.seq} </foreach>
</delete>
<select id="selectAll" resultType="kh.spring.dto.RequestBoardDTO">
select * from requestboard order by 1 desc
</select>

<select id="selectReply" resultType="int">
select count(reply) from requestboard where seq=#{seq} 
</select>

<select resultType="int" id="getDataCount">
      select count(seq) from requestboard
   </select>
   
      <select resultType="kh.spring.dto.RequestBoardDTO" id="listByCpage">
      select * from (select requestboard.*,row_number() over(order by write_date desc) rn from requestboard) where rn between #{startRowNum} and #{endRowNum}
   </select>
   
      <update id="updateView_Count">
   	update requestboard set view_count=#{view_count} where seq=#{seq}
   </update>
   
   <select id="selectBySeq" resultType="kh.spring.dto.RequestBoardDTO">
   select * from requestboard where seq=#{seq}
   </select>
   
      <select resultType="kh.spring.dto.RequestBoardDTO" id="searchByTitle">
   	select * from requestboard where title=#{title}
   </select>
</mapper>