<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Schedule">
	<insert id="insertDeptSchedule">
		insert into deptSchedule values (deptSchedule_seq.nextval,#{writer},#{name},#{title},#{sDate},#{eDate},#{code},#{content},sysdate)
	</insert>
	<select id="selectDeptSchedule" resultType="kh.spring.dto.DeptScheduleDTO">
		select * from deptSchedule
	</select>
	<select id="selectOneDeptSchedule" resultType="kh.spring.dto.DeptScheduleDTO">
	select * from deptSchedule where seq=#{seq}
	</select>
	<update id="updateDeptSchedule">
		update deptSchedule set title=#{title},sDate=#{sDate},eDate=#{eDate},code=#{code},content=#{content} where seq=#{seq}
	</update>
	<delete id="deleteDeptSchedule">
	delete from deptSchedule where seq=#{oriSeq}
	</delete>
	<insert id="insertIndSchedule">
		insert into indSchedule values (#{id},#{writer},#{sdate},#{edate},#{title},#{content},#{type})
	</insert>
	<select id="selectIndSchedule" resultType="kh.spring.dto.IndScheduleDTO">
		select * from indSchedule where writer=#{writer}
	</select>
	<select id=" selectOneIndSchedule" resultType="kh.spring.dto.IndScheduleDTO">
		select * from indSchedule where id=#{id}
	</select>
	<update id="updateIndSchedule">
		update indSchedule set sdate=#{sdate}, edate=#{edate}, title=#{title}, content=#{content}, type=#{type} where id=#{id}
	</update>
	<delete id="deleteIndSchedule">
		delete indSchedule where id=#{id}
	</delete>
	<insert id="insertColSchedule">
		insert into colSchedule values(colSchedule_seq.nextval,#{title},#{sDate},#{eDate},#{contents},sysdate)
	</insert>
	<select id="selectColSchedule" resultType="kh.spring.dto.ColScheduleDTO">
		select * from colSchedule
	</select>
	<select id="selectOneColSchedule" resultType="kh.spring.dto.ColScheduleDTO">
		select * from colSchedule where seq=#{seq}
	</select>
	<update id="updateColSchedule">
		update colSchedule set title=#{title},sDate=#{sDate},eDate=#{eDate},contents=#{contents} where seq=#{seq}
	</update>
	<delete id="deleteColSchedule">
		delete from colSchedule where seq=#{seq}
	</delete>
	<select id="selectAll" resultType="kh.spring.dto.ColScheduleDTO">
	select * from colSchedule order by 3
	</select>
</mapper>