<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Scholarship">

<insert id="insertScholarship" >
	insert into scholarship values (scholarship_seq.nextval,#{std_code},#{std_grade},#{s_kind},#{s_rec},#{s_smt},#{s_spt},#{s_etc},#{sSum},sysdate)
</insert>

<insert id="reqSchFile">
	insert into reqSchFile values (reqSchFile_seq.nextval,#{parentSeq},#{fileName},#{savedFileName},#{fileSize})
</insert>

<insert id="reqScholar">
	insert into reqScholar values (reqScholar_seq.nextval,#{std_code},#{title},#{contents},sysdate)
</insert>

<select id="selectlastSeq" resultType="int">
	SELECT LAST_NUMBER FROM USER_SEQUENCES WHERE SEQUENCE_NAME = 'REQSCHOLAR_SEQ'
</select>

<select id="selectReqScholar" resultType="kh.spring.dto.ReqScholarDTO">
	select * from reqScholar order by 1
</select>

<select id="selectSeqReqScholar" resultType="kh.spring.dto.ReqScholarDTO">
	select * from reqScholar where seq = #{seq}
</select>

<select id="selectReqSchFile" resultType="kh.spring.dto.ReqSchFileDTO">
	select * from reqSchFile where parentSeq = #{seq}
</select>

<select id="selectCountFile" resultType="int">
	select count(*) from reqSchFile where parentSeq = #{seq}
</select>

<select id="selectDTOByStd_Code" resultType="kh.spring.dto.ScholarshipDTO">
select * from scholarship where std_code=#{std_code}
</select>
<select id="selectOneReqScholar" resultType="kh.spring.dto.ReqScholarDTO">
	select * from reqScholar where std_code=#{stdCode}
</select>
<update id="checkValueReqScholar">
	update reqScholar set checkRead='읽음' where seq=#{seq}
</update>
<select id="selectAll" resultType="kh.spring.dto.ScholarshipDTO">
	select * from scholarship order by 2
</select>
<select id="selectOne" resultType="kh.spring.dto.ScholarshipDTO">
	select * from scholarship where seq=#{seq}
</select>
<update id="updateOne">
	update scholarship set s_kind=#{s_kind}, s_rec=#{s_rec}, s_smt=#{s_smt}, s_spt=#{s_spt}, s_etc=#{s_etc}, sSum=#{sSum} where seq=#{seq} 
</update>
<delete id="deleteOne">
	delete from scholarship where seq=#{seq}
</delete>
<delete id="deleteReqSch">
	delete from reqScholar where seq in
  	<foreach item="i" collection="list" open="(" close=")" separator=",">
           #{i.seq}
        </foreach>
</delete>
<delete id="deleteReqfile">
	delete from reqSchFile where parentSeq =#{parentSeq}
</delete>
<select id="stdSelectOne" resultType="kh.spring.dto.ScholarshipDTO">
	select * from scholarship where std_code=#{std_code} 
</select>

</mapper>