<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Students">

<select id="selectStudentsByS_Seq" resultType="kh.spring.dto.StudentsDTO">
	select * from students where s_seq=#{s_seq}
</select>
<select id="selectOneStd" resultType="kh.spring.dto.StudentsDTO">
	select * from students where s_seq=#{sCode} 
</select>
<update id="updateStdAbs">
	update students set rest='Y' where s_seq=#{sCode}
</update>
<update id="updateStdRest">
	update students set rest='N' where s_seq=#{sCode}
</update>
<select id="selectColCount" resultType="kh.spring.dto.ChartDTO">
	select colCode as "category", count(colCode) as "count" from students group by colCode
</select>
<select id="selectDeptCount" resultType="kh.spring.dto.ChartDTO">
	select deptCode as "category", count(deptCode) as "count" from students group by deptCode
</select>
<select id="selectGenderCount" resultType="kh.spring.dto.ChartDTO">
	select gender as "category", count(gender) as "count" from students group by gender
</select>
<select id="selectAllStd" resultType="kh.spring.dto.StudentsDTO">
	select * from students
</select>
<select id="deptStudentList" resultType="kh.spring.dto.StudentsDTO">
	select * from students where deptCode =#{deptCode} order by rest desc, s_seq
</select>
<select id="classStudents" resultType="kh.spring.dto.StudentsDTO">
	select * from students where s_seq in
	<foreach collection="list" item="i" open="(" close=")" separator=",">#{i.sCode}</foreach>
</select>
</mapper>